<!DOCTYPE html>
<html lang='en'>
  
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge, chrome=1'>
  
    <title>Lokalite Pitch Deck</title>

    <link rel='stylesheet' href='/stylesheets/font.css' type='text/css' />
    <link rel="stylesheet" href="/stylesheets/pitch.css" type='text/css' />
    <link rel='stylesheet' href="/stylesheets/style_pitch.css" type='text/css' />
    <script type='text/javascript' src='javascripts/jquery-1.6.4.min.js'></script>
    <script type='text/javascript' src='javascripts/waypoints.min.js'></script>
    <script type='text/javascript' src='javascripts/jquery.scrollTo-1.4.2-min.js'></script> 
    <script type='text/javascript' src='javascripts/jquery.easing.1.3.js'></script>
    <script type='text/javascript' src='javascripts/jquery.pitchdeck.js'></script>
    <script type='text/javascript' src='javascripts/script.js'></script>

  </head>

  <body>
          <table id='nav'>
            <tbody>
              <tr>
                <td id='nav_left'>
                  <img src='images/empty.gif'>
          </td>
          <div class='transition'>
          <td id='nav_center'>
      <%= render :partial => 'layouts/navbar' %>
    </td>
  </div>
    <td id='nav_left'>
      <img src='images/empty.gif'>
    </td>
  </tbody>
</table>


    <div class='slide' id='slide1'>
      <%= render :partial => 'slides/slide1' %>
    </div>
    <!-- slide1 -->
    
    <div class='slide' id='slide2'>
      <%= render :partial => 'slides/slide2' %>
    </div>
    <!-- slide2 -->

    <div class='slide' id='slide3'>
      <%= render :partial => 'slides/slide3' %>
    </div>
    <!-- slide2 -->
  
    <div class='slide' id='slide4'>
      <%= render :partial => 'slides/slide4' %>
    </div>
    <!-- slide2 -->
  
    <div class='slide' id='slide5'>
      <%= render :partial => 'slides/slide5' %>
    </div>
    <!-- slide2 -->
 
    <div class='slide' id='slide6'>
      <%= render :partial => 'slides/slide6' %>
    </div>
    <!-- slide2 -->
 
    <div class='slide' id='slide7'>
      <%= render :partial => 'slides/slide7' %>
    </div>
    <!-- slide7 -->
 
    <div class='slide' id='slide8'>
      <%= render :partial => 'slides/slide8' %>
    </div>
    <!-- slide8 -->
 
    <div class='slide' id='slide9'>
      <%= render :partial => 'slides/slide9' %>
    </div>
    <!-- slide9 -->
  
    <div class='slide' id='slide10'>
      <%= render :partial => 'slides/slide10' %>
    </div>
    <!-- slide10 -->
  
    <div class='slide' id='slide11'>
      <%= render :partial => 'slides/slide11' %>
    </div>
    <!-- slide11 -->
 
    <div class='slide' id='slide12'>
      <%= render :partial => 'slides/slide12' %>
    </div>
    <!-- slide12 -->
    
    <div class='slide' id='slide13'>
      <%= render :partial => 'slides/slide13' %>
    </div>
    <!-- slide13 -->
  
  </body>
  
</html>


