<div class='content'>
  <% if params[:business] %>
    <h1 class='big'>Sign up now to promote your events!</h1>
    <h2 class='big'>
      Because we are awesome and so are you.
    </h2>
  <% else %>
    <h1 class='big'>Find life in your community</h1>
    <h2 class='big'>
      With lokalite, finding something to do has never been easier.
      </br>
      Whether at home or traveling around, you'll always feel like a lokal.
    </h2>
    <h2 class='big'>
      Get started, fun's right around the corner.
    </h2>
  <% end %>


  <div class='devise-fields'>
    <br />
    <fb:login-button size='large' onlogin="afterFacebookSignIn()">Sign up with Facebook</fb:login-button>

    <br />
    <br />
    <br />
    <h2 class='big'>or with an email and password:</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div>
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </div>

      <div class='buttons'>
        <%= f.submit "Sign up" %>
        or
        <%= link_to "Sign in", new_session_path(resource_name) %>
      </div>
    <% end %>
  </div>

</div>
