<div class='content'>
  <% form_tag login_path, :class => 'formtastic' do %>
    <%= errors_for(@errors) %>

    <h1 class='big'>
      Login to your account!
    </h1>

    <div class='login-fields'>
      <div>
        <%= label_tag 'Email' %>
        <br />
        <%= text_field_tag :email, @email %>
      </div>

      <div>
        <%= label_tag 'Password' %>
        <br />
        <%= password_field_tag :password, @password %>
      </div>

      <%= submit_tag :Login %> or
      <%= link_to 'signup', signup_path %>
      <br />
      <br />
      <%= link_to 'forgot your password?', password_path %>
    </div>

  <% end %>

</div>
