<% if @user %>

  <% form_tag(request.fullpath, form_attrs(:half, :signup, :style => 'margin:1em auto')) do %>
    <%= errors_for(@errors) %>

    <div class='instructions'>
      Reset your password!
    </div>

    <%= label_tag 'Email' %>
    <br />
    <%= text_field_tag :email, @email, :readonly => true, :disabled => true, :style => 'width:232px' %>
    <br />
    <br />

    <%= label_tag 'Password' %>
    <br />
    <%= password_field_tag :password, @password, :class => :focus, :style => 'width:232px' %>
    <br />
    <br />

    <br />
    <br />
    <table class='layout' style='width:100%'>
      <tr>
        <td style='text-align:left;vertical-align:bottom;'>
          <%= submit_tag :Reset! %>
        </td>
        <td style='text-align:right;vertical-align:bottom;'>
          <%= link_to 'need to signup instead?', signup_path %>
          |
          <%= link_to 'need to login instead?', login_path %>
        </td>
      </tr>
    </table>
  <% end %>


<% else %>

  <% form_tag(request.fullpath, form_attrs(:half, :signup, :style => 'margin:1em auto')) do %>
    <%= errors_for(@errors) %>

    <div class='instructions'>
      Enter your email to recive a password reset email!
    </div>

    <%= label_tag 'Email' %>
    <%= text_field_tag :email, @email, :class => :focus, :style => 'width:232px' %>

    <br />
    <br />
    <table class='layout' style='width:100%'>
      <tr>
        <td style='text-align:left;vertical-align:bottom;'>
          <%= submit_tag :Send! %>
        </td>
        <td style='text-align:right;vertical-align:bottom;'>
          <%= link_to 'need to login instead?', login_path %>
          |
          <%= link_to 'need to signup instead?', signup_path %>
        </td>
      </tr>
    </table>
  <% end %>

<% end %>
