
<% form_tag(request.fullpath, form_attrs(:half, :signup, :style => 'margin:1em auto')) do %>
  <%= errors_for(@errors) %>

  <div>
<h1 style="font-size:1.6em; margin-bottom:1em;">Sign up now to promote your events!</h1>
<p style="margin-bottom:1em;"><strong>Businesses and organizations</strong>: <strong>Sign up now</strong> and promote your events on the front page of lokalite in minutes.</p>
<p><strong>lokalite users</strong>: No need to sign up now. But soon, registered users will get access to <strong>VIP benefits</strong>. Keep your eye on lokalite.com!</p>
  </div>

  <%= label_tag 'Email' %>
  <br />
  <%= text_field_tag :email, @email, :class => :focus, :style => 'width:232px' %>
  <br />

  <%= label_tag 'Password' %>
  <br />
  <%= password_field_tag :password, @password, :style => 'width:232px', :class => 'dPassword' %>
  <br />

  <%= label_tag 'Sorry to ask, but are you human?' if defined?(Raptcha) %>
  <%= raw(Raptcha.input) if defined?(Raptcha) %>
  <br />

  <br />
  <table class='layout' style='width:100%'>
    <tr>
      <td style='text-align:left;vertical-align:bottom;'>
        <%= submit_tag :Signup %>
      </td>
      <td style='text-align:right;vertical-align:bottom;'>
        <%= link_to 'need to login instead?', login_path %>
      </td>
    </tr>
  </table>
<% end %>

