<h2><%= event.name %></h2>
<% if event.featured? %>
  <p>
    Featured
  </p>
<% end %>
<%= render :partial => '/events/time_span', :locals => {:event => event} %>
<ul class="buttons">
  <li><%= link_to "Edit", edit_my_event_path(event) %></li>
  <% if event.repeating? && !event.clone? %>
    <li><%= link_to "Manage Repeating Events", my_event_repeat_path(event) %></li>
  <% end %>
  <li><%= link_to "Delete", my_event_path(event), :confirm => "Are you sure you want to delete this event?\n\n Any copies of this event will also be deleted.", :method => :delete %></li>
  <% if real_user.admin? %>
    <% if event.featured?  %>
      <li><%= link_to "Unfeature", my_event_unfeature_path(event) %></li>
    <% else %>
      <li><%= link_to "Feature", my_event_feature_path(event) %></li>
    <% end %>
  <% end %>
</ul>

<% if event.prototype? %>
  <% clones = event.clones.upcoming %>
  <%= pluralize clones.size, 'more upcoming event' %>:
  <%#= link_to '(show)', '#show_repeating_events' %>
  <ul>
    <% for clone in clones -%>
      <li>
        <%= clone.starts_at.to_s(:full) %>
        <% if clone.featured? %>
          <%= link_to "Unfeature", my_event_unfeature_path(clone) %>
        <% else %>
          <%= link_to "Feature", my_event_feature_path(clone) %>
        <% end %>
      </li>
    <% end -%>
  </ul>
<% end %>

<br />
<br />

