<div class='form'>
  <% if @organization %>
    <h1>New Event</h1>
    <h2>At <%= @organization.name %></h2>

    <hr />

    <%= semantic_form_for @event, :url => my_events_path(), :method => 'POST', :html => {:multipart => true} do |form| %>
      <%= render :partial => 'fields', :locals => { :form => form } %>
    <% end %>
  <% else %>
    <h1>New Event</h1>
    <h2>Please select the venue where your event is taking place.</h2>
    <%#= link_to "Add a New Organization", new_my_organization_path, :class => 'btn medium' %> 
    <h3> If the venue is not listed below, please click <%= link_to('here', new_my_organization_path) %>.</h3>
    <br /><br /> 
    <% for organization in @organizations -%>
      <%= link_to(organization.name, new_my_event_path(:organization_id => organization.id)) %>
      <br />
    <% end -%>
  <% end %>
</div>

