<%= render :partial => 'profile/profile_header' %>

<div class="form">
  <h1>Manage Repeating Event</h1>
  <h2><%= @event.name %></h2>

  <hr />

  <h2>Click on the dates below to create copies of this event.</h2>

  <div id="repeat-calendar"></div>

  <h3>Original event:</h3>
  <br />

  <%= form_tag my_event_repeat_path(@event), :method => 'POST', :class => 'formtastic' do %>
    <ul id="event-repeats">
      <% for event in @clones -%>
        <%=
          render :partial => 'event_repeat_fields',
                 :locals => {
                   :original_event => event == @event,
                   :id => event.id, :duration => event.duration,
                   :date => event.starts_at.to_s(:datetimepicker).downcase
                 }
        %>
        <% if event == @event %>
          <br />
          <h3>Copies of event occur at the following times:</h3>
          <br />
        <% end %>
      <% end -%>
    </ul>
    <%= submit_tag 'Save Changes', :class => 'submit-repeats' %>
  <% end %>

</div>

<script type="text/javascript">
  jQuery(function($) {
    var templateString = '<%= escape_javascript render(:partial => "event_repeat_fields", :locals => { :original_event => false, :id => "INDEX", :duration => @event.duration, :date => @event.starts_at.to_s(:datetimepicker).downcase }) %>';
    manageRepeatingEvents(templateString);
  });
</script>

