<section class="organization">
  <div class='title'>
    <div class="title-image">
      <%= image_tag @organization.image.url(:thumb) %>
    </div>
    <div class="text">
      <h1><%= @organization.name %></h1>
      <h2>
        <%= link_to @organization.category, '#' %>
      </h2>
    </div>
  </div>

  <div class='image'>
    <%= image_tag(@organization.image.url(:large)) %>
  </div>

  <div class="detail">
    <h1><%= @organization.name %></h1>
    <p>
      <%= @organization.category_list %>
    </p>

    <dl>
      <% unless @organization.phone.blank? %>
        <dt>Phone</dt>
        <dd><%= c @organization.phone %></dd>
      <% end %>

      <% unless @organization.address.blank? %>
        <dt>Address</dt>
        <dd><%= c @organization.address %></dd>
      <% end %>

      <% unless @organization.description.blank? %>
        <dt>Description</dt>
        <dd><%= c @organization.description %></dd>
      <% end %>
    </dl>
  </div>


  <div class="clear"></div>

  <div class="organization-events">
    <h2>Upcoming Events</h2>
    <%= render :partial => '/events/event_previews', :locals => {:events => @organization.events} %>
  </div>
</section>

