<%
  context("Events by #{ @organization.name }")
%>

<%= render :partial => 'organization_sidebar' %>

  <% @events.each do |event| 
     event_url = event_path(:id => event.id, :slug => event.slug)
     hours = event.duration / 1.hour
     admin = (current_user and current_user.admin?)
     editor = (current_user and current_user.can_edit_event?(event))
     if editor
       organization = editor # HACK
       edit_url = my_organization_path(:id => organization.id, :action => :edit_event, :event_id => event.id)
     end
  %>

  <section style="display:none" class="profile blurb vevent" id="event-<%= event.id %>">

    <a href="<%= event.image.url(:medium) %>" rel="facebox"><%= image_tag(event.image.url(:medium), :class=>'float-left') %></a>

    <div id="event-data" class="fill-right">
    <hgroup>
      <h1>
        <!-- #<%= event.id %> -->
        <span class="summary">
          <%= link_to(event.name, event_url, :title => "event ##{ event.id }", :style=>"white-space:nowrap;overflow:hidden;") %>

        <% if editor %>
          &nbsp;
          <a href='<%= edit_url %>' class='admin'>edit!</a>
        <% end %>
        </span>
      </h1>
 
      <h2 class="location vcard">
        <span class="fn org"><a class="fn org url" target="blank" href="<%= event.venue.url %>"><%= event.venue.name %></a></span>
        <div class="adr">
          <div class="street-address"><%= event.venue.location.address %></div>
          <!-- TTD Changed locality and region to visuallyhidden, not removing b/c may be needed. Paul July 2011 -->
          <span class="locality visuallyhidden"><%= event.venue.location.locality %></span> 
          <abbr class="region visuallyhidden"><%= event.venue.location.administrative_area_level_1 %></abbr>
          <span class="postal-code visuallyhidden"><%= event.venue.location.postal_code %></span>
          <span class="country-name visuallyhidden"><%= event.venue.location.country %></span>
          <div class="geo visuallyhidden">
          <span class="latitude"><%= event.venue.location.lat %></span>, 
          <span class="longitude"><%= event.venue.location.lng %></span>
          </div>
         </div>
        <br />
        <time class="dtstart" datetime="<%= event.starts_at.iso8601 %>">
        <%= event.venue_time_formatted_date %> <br />
        <%= event.venue_time_formatted_start %>
        <span class="dtstart"> - </span>
        </time>
        
        <time class="dtend" datetime="<%= event.ends_at.iso8601 %>">
        <%= event.venue_time_formatted_end %>
        <!-- TTD commenting out lasting field Paul -->
        <!-- <em class='hint'>lasting <%= pluralize(hours, 'hour', 'hours') %></em> -->  
        </time>
     </h2>
     
    </hgroup>

    <div class="description">
      <%= c event.description.ellipsis(256) %>
    </div>

    <nav id="event-buttons">
      <%= link_to("More", event_path(:id => event.id, :slug => event.slug), :class=>:button) %>

      <%=
        st_url = event_path(:id => event.id, :slug => event.slug, :only_path => false)
        st_title = "#{ App.url } [#{ event.name.ellipsis(64) }]"
        share_this(:st_url => st_url, :st_title => st_title)
      %>
      
    </nav>


  </div>

  </section>
  <% end %>
  
  <table class="search-results">

    <tr>
      <th><%= link_to('Event', browse_path(:order => :name)) %></th>
      <th><%= link_to('Venue', browse_path(:order => :venue)) %></th>
      <th><%= link_to('Category', browse_path(:order => :category)) %></th>
      <th><%= link_to('Date', browse_path(:order => :date)) %></th>
      <th><%= link_to('Start Time', browse_path(:order => :start)) %></th>
      <th><%= link_to('End Time', browse_path(:order => :end)) %></th>
      <th>Features</th>
    </tr>

    <% if @events.empty? %>
      <tr class="huge"><td colspan="7">
      <%= render :partial => 'no_results' %>
      </td></tr>
    <% end %>

    <% @events.each do |event| %>
      <%
        href = event_path(:slug => event.slug, :id => event.id)
      %>
    
     <tr>
        <td>
          <a href="<%= href %>" class="targeting" data-target-class="blurb" data-target="event-<%= event.id %>"><%= event.name %></a>
        </td>
        <td>
          <a href="<%= href %>" class="targeting" data-target-class="blurb" data-target="event-<%= event.id %>"><%= event.venue.name %></a>
        </td>
        <td>
          <a href="<%= href %>" class="targeting" data-target-class="blurb" data-target="event-<%= event.id %>"><%= event.category.name rescue event.id %></a>
        </td>
        <td>
          <a href="<%= href %>" class="targeting" data-target-class="blurb" data-target="event-<%= event.id %>"><%= event.venue_time_formatted_date %></a>
        </td>
       <td>
          <a href="<%= href %>" class="targeting" data-target-class="blurb" data-target="event-<%= event.id %>"><%= event.venue_time_formatted_start %></a>
        </td>
        <td>
          <a href="<%= href %>" class="targeting" data-target-class="blurb" data-target="event-<%= event.id %>"><%= event.venue_time_formatted_end %></a>
        </td>
        <td> coming soon </td>
        <!-- TTD removing location - Paul
        <td>
          <a href="<%= href %>" class="targeting" data-target-class="blurb" data-target="event-<%= event.id %>"><%= event.venue.location.locality.titleize %></a>
        </td>
        -->
      </tr>

    <% end %>

  </table>

  <script type="text/javascript">
    jq(function(){
      jq('a.targeting').each(function(){
        var a = jq(this);
        var tr = a.parents('tr');

        var target_class = a.attr('data-target-class');
        var target = a.attr('data-target');

        var click = function(){
          jq('.' + target_class).hide();
          jq('#' + target).show();
          tr.siblings('tr').removeClass('active');
          tr.addClass('active');
          return(false);
        };

        a.click(click);
      });

      jq('a.targeting:first').click();
    });
  </script>

  <nav id="pagination">
    <%= paginate @events %>
  </nav>
