<nav>
  <%= link_to 'About', static_path(:about) %>
  <%= link_to 'Terms', static_path(:terms_of_service) %>
  <%= link_to 'Contact', static_path(:contact) %>
  <%= link_to 'Locations', static_path(:locations) %>
  <%= link_to 'Movie', static_path(:movie, :layout => :facebox), :id => :movie, :rel => :facebox %>
</nav>

<span>Copyright &copy; <%= Time.now.year %> lokalite.com</span>

<script type='text/javascript'>
  jq(function(){
    var show_movie = <%= show_movie? ? true : false %> ;

    var movie = jq('#movie');

    jq(document).bind(
      'afterClose.facebox',

      function(){ 
        var facebox = jq('#facebox');
        facebox.find('.content').empty();
      }
    );

    if(show_movie){
      movie.click();
    };
  });
</script>
