  <h4>Event Categories</h4>
    <input id="event_categories" type="hidden" name="event_categories"> 
    <%= form_tag events_path_with_options do %>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'happy hour' %>
      <%= label_tag 'happy hour', "Happy Hour" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'music and the arts' %>
      <%= label_tag 'music and the arts', "Music and the Arts" %>
    </div>
      
    <div class='columns'>
      <%= check_box_tag 'category[]', 'nightlife' %>
      <%= label_tag 'nightlife', "Nightlife" %>
    </div>
      
    <div class='columns'>
      <%= check_box_tag 'category[]', 'shopping' %>
      <%= label_tag 'shopping', "Shopping" %>
    </div>
      
    <div class='columns'>
      <%= check_box_tag 'category[]', 'food and dining' %>
      <%= label_tag 'food and dining', "Food and Dining" %>
    </div>
      
    <div class='columns'>
      <%= check_box_tag 'category[]', 'sports and fitness' %>
      <%= label_tag 'sports and fitness', "Sports and Fitness" %>
    </div>

  <div class='right_column_events'>
    <div class='columns'>
      <%= check_box_tag 'category[]', 'health and beauty' %>
      <%= label_tag 'health and beauty', "Health and Beauty" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'learn something new' %>
      <%= label_tag 'learn something new', "Learn Something New" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'campus' %>
      <%= label_tag 'campus', "Campus" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'community' %>
      <%= label_tag 'community', "Community" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'tours and tastings' %>
      <%= label_tag 'tours and tastings', "Tours and Tastings" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'mmj' %>
      <%= label_tag 'mmj', "MMJ" %>
    </div>
  </div>

<% end %>
  
