<!-- WP: Commenting out ReportGrid because it was breaking search -->
<li<%#= report_grid_tracker(event, :type => 'List') %> class="list" id='<%#= complex_dom_id(event.organization, event) %>'>
  <div class='image'>
    <%= link_to event_path(event.slug, event.id) do %>
      <%= image_tag(event.image.url(:small), :class => 'medium') %>
      <%= image_tag(event.image.url(:small), :class => 'profile') %> 
    <% end %>

    <%= link_to ' ', "#trend_event/#{event.id}", :class => ['trend-button', trend_class(event)] %>
    <%= link_to ' ', "#untrend_event/#{event.id}", :class => 'untrend-button' %>
  </div>

      <div class='detail'>
        <h2>
        <%= link_to event_path(event.slug, event.id) do %>
          <%= event.name %>
        <% end %>
        </h2>
      </br>

      <% unless @organization %>
        <div>
          @ <%= event.location.name %>
        </div>
      <% end %>
      </br>
      
      <%= render :partial => '/events/time_span', :locals => {:event => event} %>
      </br>

      <div><%= raw auto_link(event.description, :all, :html => {:target => '_blank'}) %></div>
    </div>
        
  <a href="#remove_from_plan" class="remove-from-plan">Remove from plan</a>
</li>
