<!-- WP: Commenting out ReportGrid because it was breaking search -->
<li<%#= report_grid_tracker(event, :type => 'Tile') %> class="event-preview" id='<%#= complex_dom_id(event.organization, event) %>'>
  <div class='image'>
    <%= link_to event_path(event.slug, event.id) do %>
      <%= image_tag(event.image.url(:medium), :class => 'medium') %>
      <%= image_tag(event.image.url(:small), :class => 'profile') %>
      <div class='description'><%= event.description %></div>
    <% end %>

    <%= link_to ' ', "#trend_event/#{event.id}", :class => ['trend-button', trend_class(event)] %>
    <%= link_to ' ', "#untrend_event/#{event.id}", :class => 'untrend-button' %>
  </div>

  <%= link_to event_path(event.slug, event.id) do %>
    <div class='detail'>
      <h1 class='truncate'><%= event.name %></h1>

      <% unless @organization %>
        <div class="organization-name truncate">
          @ <%= event.location.name %>
        </div>
      <% end %>

      <%= render :partial => '/events/time_span', :locals => {:event => event} %>
    </div>
  <% end %>
  <a href="#remove_from_plan" class="remove-from-plan">Remove from plan</a>
</li>
