<div class='google_maps_info_window'>
  <h1><%= link_to event.name, event_path(event.slug, event.id) %></h1>

  <div class="organization-name">
    @ <%= event.location.name %>
  </div>

  <div class="info">
    <p class="description">
      <%= event.description %>
    </p>
    <%= render :partial => 'time_span', :locals => {:event => event} %>
    <p class="address">
      <%= raw event.location.formatted_address('<br />') %>
    </p>
  </div>

  <div class="image">
    <% for category in event.categories -%>
      <%= link_to category.name, events_path(:origin => params[:origin], :category => category.name.parameterize('_')), :class => "category-icon #{category.name.parameterize('_')} tooltip", :title => category.name %>
    <% end -%>
    <br />
    <%= link_to image_tag(event.image.url(:small)), event_path(event.slug, event.id) %>
  </div>

</div>


