<script type="text/javascript">

  var gallery_view_path = "<%= events_path_with_options %>";

  function GalleryViewSwitcher(controlDiv, map) {

    // Setting padding to 5 px will offset the control
    // from the edge of the map
    controlDiv.style.padding = '6px';

    // Set CSS for the control border
    var controlUI = document.createElement('DIV');
    controlUI.className = 'google-maps-custom-button';
    controlUI.title = 'View Events in Gallery View';
    // controlDiv.appendChild(controlUI);

    // Set CSS for the control interior
    var controlText = document.createElement('DIV');
    controlText.innerHTML = 'Switch to Gallery View';
    controlUI.appendChild(controlText);

    // Setup the click event listeners: simply set the map to Chicago
    google.maps.event.addDomListener(controlUI, 'click', function() {
      window.location = gallery_view_path;
    });
  }

  jQuery(function($){

    var myLatlng = new google.maps.LatLng(40.023868,-105.269194);
    var myOptions = {
      zoom: 13,
      center: myLatlng,
      // mapTypeId: google.maps.MapTypeId.TERRAIN,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
    }
    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

    var galleryViewDiv = document.createElement('DIV');
    var galleryView = new GalleryViewSwitcher(galleryViewDiv, map);
    galleryViewDiv.index = 1;
    map.controls[google.maps.ControlPosition.TOP_CENTER].push(galleryViewDiv);

    // maintain a single instance of the infowindow
    // each marker is responsible for setting the content.
    var infowindow = new google.maps.InfoWindow({
      maxWidth: 380,
    });

    var markers = <%= markers_for_events(@events) %>;

    $.each(markers, function(index, myEvent){
      var coordinates = new google.maps.LatLng(myEvent.lat, myEvent.lng);
      var marker = new google.maps.Marker({
          position: coordinates,
          map: map,
          title: myEvent.name
      });


      google.maps.event.addListener(marker, 'click', function() {
        infowindow.close();
        infowindow.setContent(myEvent.infoWindow);
        infowindow.open(map,marker);
      });
    });

    google.maps.event.addListener(map, 'click', function(event) {
      if (infowindow) {
        infowindow.close();
      };
    })


 })
</script>

<header class='index'>
  <h1>
    <%= tile_view_title %>
  </h1>

  <%
    options = params.reject{|key, value| ! %w[origin category keywords].include?(key) }
  %>
 <!-- <div class="clear"></div> --> 

  <% if params[:after].present? %>
    <div>
      <%= link_to 'Clear Date Filter', '#clear_date_filter', :class => 'clear_date_filter tiled-subheading_clear_date_filter btn secondary' %>
    </div>
  <% end %>

  <div class="map_view_button"><%= link_to 'Switch to Map View', events_path_with_options(:view_type => 'map', :keep => [:keywords]), :class => 'map_view' %>
  </div>
  <div class="gallery_view_button"><%= link_to 'Switch to Gallery View', events_path_with_options(:view_type => nil, :keep => [:keywords]), :class => 'gallery_view' %>
  </div>


  <div class="tiled-subheading">
    <% if user_signed_in? && options[:category] == 'suggested' %>
      <p class='tiled-subheading-subline'>
        Events in
        <%= current_user.event_categories.join(', ') %>
      </p>
    <% end %>
    <% if params[:after].present? %>
      <p class='tiled-subheading-subline'>
        After
        <%= Chronic.parse(params[:after]).to_s(:full) %>
      </p>
    <% end %> 
  </div>
</header>

<div id="map_canvas"></div>

