

<header class='index'>
  <h1>
    <%= tile_view_title %>
  </h1>

  <%
    options = params.reject{|key, value| ! %w[origin category keywords].include?(key) }
  %>
 <!-- <div class="clear"></div> -->

  <% if params[:after].present? %>
    <div>
      <%= link_to 'Clear Date Filter', events_path_with_options(:category => nil, :after => nil), :class => 'clear_date_filter tiled-subheading_clear_date_filter btn secondary' %>
    </div>
  <% end %>

  <div class="map_view_button tooltip" title="Switch to Map View"><%= link_to 'Switch to Map View', events_path_with_options(:view_type => 'map', :keep => [:keywords]), :class => 'map_view' %>
  </div>
  <div class="gallery_view_button tooltip" title="Switch to Gallery View"><%= link_to 'Switch to Gallery View', events_path_with_options(:view_type => nil, :keep => [:keywords]), :class => 'gallery_view' %>
  </div>
  
  <div class="tiled-subheading">
    <% if user_signed_in? && options[:category] == 'suggested' %>
      <p class='tiled-subheading-subline'>
        Events in
        <%= current_user.event_categories.join(', ') %>
      </p>
    <% end %>
    <% if params[:after].present? %>
      <p class='tiled-subheading-subline'>
        After
        <%= Chronic.parse(params[:after]).to_s(:full) %>
      </p>
    <% end %> 
  </div>
</header>

<ul class="events">
  <% @events.each do |event| %>
    <%= render :partial => '/events/event', :locals => { :event => event } %>
  <% end %>
</ul>

<div class="clear"></div>

<div class="tiled-pagination"> 
  <%= will_paginate @events %>
</div>

