<header class='index'>
  <h1 class='tiled-title'>
    <% if params[:category] %>
      <%= title_for_category(params[:category]) %> Events
    <% elsif params[:keywords] %>
      Search results: <%= params[:keywords] %>
  <% else %>
    All Events
  <% end %>
  </h1>

  <%
    options = params.reject{|key, value| ! %w[origin category keywords].include?(key) }
    options[:view_type] = 'map'
  %>
  <%= link_to 'Switch to Map View', events_path(options), :class => 'switch-to-map-view' %>
</header>

<ul class="events">
  <% @events.each do |event| %>
    <%= render :partial => 'event', :locals => { :event => event } %>
  <% end %>
</ul>

<div class="tiled-pagination">
  <%= will_paginate @events %>
</div>

