<section class='event'<%= report_grid_tracker(@event, :type => 'Page') %>>
  <div class='title'>
    <div class="title-image">
      <%= image_tag @event.organization.image.url(:thumb) %>
    </div>
    <div class="text">
      <h1><%= @event.name %></h1>
      <h2>
        <%= event_location_string(@event) %>
      </h2>
    </div>
  </div>

  <% if false %>
    <div class="social-links">
      <%= link_to 'Twitter', '#', :class => 'twitter' %>
      <%= link_to 'Facebook', '#', :class => 'facebook' %>
    </div>
  <% end %>
  <div class='image'>
    <%= image_tag(@event.image.url(:large)) %>
  </div>

  <div class='detail'>
    <dl>
      <dt>Time</dt>
      <dd><%= render :partial => 'time_span', :locals => {:event => @event} %></dd>

      <dt>Description</dt>
      <dd class='description'><%= raw auto_link(@event.description, :all, :html => {:target => '_blank'}) %></dd>

    </dl>
    <div class="cf">
      <dl class="half">
      <dt>Tags</dt>
      <dd>
        <% for category in @event.categories -%>
          <%= link_to category.name, events_path(:origin => params[:origin], :category => category.name.parameterize('_')), :class => "category-icon #{category.name.parameterize('_')} tooltip", :title => category.name %>
        <% end -%>
      </dd>
      </dl>
      <dl class="half ext">
        <dt>Share</dt>
        <dd>
          <a name="fb_share"></a> 
          <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
          <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
          <script type="text/javascript">
            $(function() {
                $('.twitter-icon').click(function(event) {
                  var width  = 575,
                      height = 400,
                      left   = ($(window).width()  - width)  / 2,
                      top    = ($(window).height() - height) / 2,
                      url    = this.href,
                      opts   = 'status=1' +
                               ',width='  + width  +
                               ',height=' + height +
                               ',top='    + top    +
                               ',left='   + left;
    
                  window.open(url, 'twitter', opts);
 
                  return false;
                });
              });
          </script>
          <% if user_signed_in? %>
          <%= link_to 'Datebook', datebook_path, :class => 'social-icon datebook-icon tooltip', :oldtitle => 'Datebook', 'aria-describedby' => 'ui-tooltip-0', :title => 'Add to or remove from your datebook' %>
          <% end %>
           <a href="https://twitter.com/share" class="social-icon twitter-icon tooltip" oldtitle="Twitter" aria-describedby="ui-tooltip-0" title="Share this event on Twitter">Twitter</a>
          <a name="fb_share" class="social-icon facebook-icon tooltip" oldtitle="Facebook" aria-describedby="ui-tooltip-0" title="Share this event on 
          Facebook">Facebook</a>
        </dd>
      </dl>
    </div>

    <!--
    <div class="buttons">
      <%= link_to 'Share', '#' %>
      &nbsp;
      <% if user_signed_in? %>
        <%= link_to(trend_class(@event).to_s.titleize, "#trend_event/#{@event.id}", :class => [trend_class(@event)]) %>
      <% end %>
      (<%= pluralize @event.users_count, 'trend' %>)
    </div>
    -->

    <div class="location">
      <div class="map">
        <%= link_to google_maps_image(@event.location, :size => '363x130'), gmaps_url_for(@event.location), :target => '_blank', :class => 'map_link' %>
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <div class="content">
    <%= facebook_comments(:url => event_url(@event.slug, @event.id), :posts => 6) %>
  </div>
</section>

<div class="more-events">
  <% for category in @event.normal_categories %>
    <% events = Event.where('events.id != ?', @event.id).includes(:organization, :categories, :image).tagged_with(category.name).upcoming.limit(3) %>
    <% if events.any? %>
      <hr />
      <h2 class='big'>Other Events in <%= category.name %></h2>
      <ul class="events">
        <% events.each do |event| %>
          <%= render :partial => '/events/event', :locals => { :event => event } %>
        <% end %>
      </ul>
      <div class="clear"></div>
    <% end %>
  <% end %>
</div>
