<section class='event'>
  <div class='title'>
    <div class="title-image">
      <%= image_tag @event.organization.image.url(:thumb) %>
    </div>
    <div class="text">
      <h1><%= @event.name %></h1>
      <h2>
        <%= link_to "@ #{@event.organization.name}", organization_path(@event.organization.slug, @event.organization.id) %>
      </h2>
    </div>
  </div>

  <div class='image'>
    <%= image_tag(@event.image.url(:large)) %>
  </div>

  <div class='detail'>
    <h3>Time</h3>
    <%= render :partial => 'time_span', :locals => {:event => @event} %>

    <h3>Description</h3>
    <p class='description'><%= @event.description %></p>

    <h3>Tags</h3>
    <% for category in @event.categories -%>
      <%= content_tag :span, category.name, :class => "icon-#{category.name.parameterize('_')} tooltip", :title => category.name %>
    <% end -%>

    <br />

    <!--
    <div class="buttons">
      <%= link_to 'Share', '#' %>
      &nbsp;
      <% if logged_in? %>
        <% trend_state = current_user.events.include?(@event) ? :trended : :trend  -%>
        <%= link_to(trend_state.to_s.titleize, "#trend_event/#{@event.id}", :class => [trend_state]) %>
      <% end %>
      (<%= pluralize @event.users_count, 'trend' %>)
    </div>
    -->

    <div class="location">
      <div class="map">
        <%= link_to google_maps_image(@event, :size => '363x130'), gmaps_url_for(@event), :target => '_blank', :class => 'map_link' %>
      </div>
    </div>
  </div>

  <div class="clear"></div>
</section>


