<% if params[:invitation] %>
  <% if user_signed_in? && @event.users.include?(current_user) %>
    <%= display_flash 'success', :close_link => false do %>
      You've already accepted this invitation! You can invite others by sending them the link to this page.
    <% end -%>
    <hr />
  <% else %>
    <div class="invitation">
      <%= display_flash 'notice', :close_link => false do %>
        You've been invited to
        <%= @event.name %>!

      <% end %>
      <div class="centered">
        <% if user_signed_in? %>
          <%= link_to "I'm Attending!", '#add_to_datebook', :class => 'btn large primary attending-event' %>
            &nbsp;&nbsp;
          <%= link_to "I Won't Be There", '#not_attending', :class => "wont_be_there" %>
        <% else %>
          <%# We store a value in the session to redirect them back after the account is created %>
          <h2 class="big">
            Will you be there?
          </h2>
          <fb:login-button onlogin="afterFacebookSignIn()">Sign in with Facebook</fb:login-button>
          or
          <%= link_to 'create an account without facebook', new_user_registration_path -%>
          to RSVP.
        <% end %>
      </div>
      <hr />
    </div>
  <% end %>
<% end %>

<section class='event'<%= report_grid_tracker(@event, :type => 'Page') %>>
  <div class='title'>
    <div class="title-image">
      <%= image_tag @event.organization.image.url(:thumb) %>
    </div>
    <div class="text">
      <h1><%= @event.name %></h1>
      <h2>
        <%= event_location_string(@event) %>
      </h2>
    </div>
    <%=
      link_to "Invite Friends", '#', {
        :class => 'btn primary facebook-invite',
        'data-name'        => @event.name,
        'data-description' => @event.description,
        'data-link'        => event_invitation_url(@event),
        'data-picture'     => File.join('http://lokalite.com', @event.image.image_url(:medium))
      }
    %>
  </div>

  <div class='image'>
    <div class="inner">
      <%= image_tag(@event.image.url(:large)) %>
      <%= link_to ' ', "#trend_event/#{@event.id}", :class => ['trend-button', trend_class(@event)] %>
    </div>
  </div>

  <div class='detail'>
    <dl>
      <dt>Time</dt>
      <dd><%= render :partial => 'time_span', :locals => {:event => @event} %></dd>

      <dt>Description</dt>
      <dd class='description'><%= raw auto_link(@event.description, :all, :html => {:target => '_blank'}) %></dd>

    </dl>
    <div class="cf">
      <dl class="half">
        <dt>Tags</dt>
        <dd>
          <% for category in @event.categories -%>
            <%= link_to category.name, events_path(:origin => params[:origin], :category => category.name.parameterize('_')), :class => "category-icon #{category.name.parameterize('_')} tooltip", :title => category.name %>
          <% end -%>
        </dd>
      </dl>
      <dl class="half ext">
        <dt>Share</dt>
        <dd>
          <a name="fb_share"></a>
          <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
          <script type="text/javascript">
            $(function() {
                $('.twitter-icon').click(function(event) {
                  var width   = 575,
                      height  = 400,
                      left    = ($(window).width()  - width)  / 2,
                      top     = ($(window).height() - height) / 2,
                      url     = this.href,
                      options = 'status=1' +
                               ',width='  + width  +
                               ',height=' + height +
                               ',top='    + top    +
                               ',left='   + left;

                  window.open(url, 'twitter', options);

                  return false;
                });
              });
          </script>
          <ul class="social">
            <li>
              <%
                twitter_link = url_for({
                  :protocol   => 'https',
                  :host       => 'twitter.com',
                  :controller => 'share',
                  :action     => 'index',
                  :text       => "I am checking out #{@event.name.strip} via @lokalite",
                  :related    => 'lokalite',
                  :hashtags   => 'Boulder,Events'
                })
              -%>
              <%= link_to 'Share on Twitter', twitter_link, :title => 'Share this event on Twitter', :class => 'social-icon twitter-icon tooltip' %>
            </li>
            <li>
              <%=
                link_to 'Share on Facebook', '#share_on_facebook', {
                  :title => 'Share this event on Facebook',
                  :class => 'social-icon facebook-icon tooltip',
                  'data-link' => event_url(@event.slug, @event.id),
                  'data-picture' => File.join('http://lokalite.com', @event.image.image_url(:medium)),
                  'data-name' => @event.name.strip,
                  'data-description' => @event.description
                } %>
            </li>
          </ul>
        </dd>
      </dl>
    </div>

    <div class="location">
      <div class="map">
        <%= link_to google_maps_image(@event.location, :size => '363x130'), gmaps_url_for(@event.location), :target => '_blank', :class => 'map_link' %>
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <div class="facebook-comments">
    <%= facebook_comments(:url => event_url(@event.slug, @event.id), :posts => 6) %>
  </div>
</section>

<div class="more-events">
  <% for category in @event.normal_categories %>
    <% events = Event.where('events.id != ?', @event.id).includes(:organization, :categories, :image).tagged_with(category.name).upcoming.limit(3) %>
    <% if events.any? %>
      <hr />
      <h2 class='big'>Other Events in <%= category.name %></h2>
      <ul class="events">
        <% events.each do |event| %>
          <%= render :partial => '/events/event', :locals => { :event => event } %>
        <% end %>
      </ul>
      <div class="clear"></div>
    <% end %>
  <% end %>
</div>

