<section class='event'>
  <div class='title'>
    <div class="title-image">
      <%= image_tag @event.organization.image.url(:thumb) %>
    </div>
    <div class="text">
      <h1><%= @event.name %></h1>
      <h2>
        <%= event_location_string(@event) %>
      </h2>
    </div>
  </div>

  <div class='image'>
    <%= image_tag(@event.image.url(:large)) %>
  </div>

  <div class='detail'>
    <dl>
      <dt>Time</dt>
      <dd><%= render :partial => 'time_span', :locals => {:event => @event} %></dd>

      <dt>Description</dt>
      <dd class='description'><%= @event.description %></dd>

      <dt>Tags</dt>
      <dd>
        <% for category in @event.categories -%>
          <%= link_to category.name, events_path(:origin => params[:origin], :category => category.name.parameterize('_')), :class => "category-icon #{category.name.parameterize('_')} tooltip", :title => category.name %>
        <% end -%>
      </dd>
    </dl>
    <br />

    <!--
    <div class="buttons">
      <%= link_to 'Share', '#' %>
      &nbsp;
      <% if logged_in? %>
        <% trend_state = current_user.events.include?(@event) ? :trended : :trend  -%>
        <%= link_to(trend_state.to_s.titleize, "#trend_event/#{@event.id}", :class => [trend_state]) %>
      <% end %>
      (<%= pluralize @event.users_count, 'trend' %>)
    </div>
    -->

    <div class="location">
      <div class="map">
        <%= link_to google_maps_image(@event.location, :size => '363x130'), gmaps_url_for(@event.location), :target => '_blank', :class => 'map_link' %>
      </div>
    </div>
  </div>

  <div class="clear"></div>
</section>

<div class="more-events">
  <% for category in @event.normal_categories %>
    <% events = Event.where('events.id != ?', @event.id).includes(:organization, :categories, :image).tagged_with(category.name).upcoming.limit(3) %>
    <% if events.any? %>
      <hr />
      <h2 class='big'>Other Events in <%= category.name %></h2>
      <ul class="events">
        <% events.each do |event| %>
          <%= render :partial => '/events/event', :locals => { :event => event } %>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
