<%= form.inputs do %>
  <li>
    <%= form.error_messages %>
  </li>

  <%= form.input :name %>
  <%= form.input :description %>
  <%= form.input :email %>
  <%= form.input :url, :label => 'Website'%>
  <%= form.input :phone %>
  <%= form.input :category_list, :label => 'Category', :as => :select, :required => true, :collection => ORGANIZATION_CATEGORIES, :prompt => 'Select a Category' %>

  <%= form.input :image, :as => :file, :hint => 'Square, at least 300x300' %>
  <li class='align-with-fields'>
    <%= image_tag(form.object.image_url(:small)) if form.object.image? %>
  </li>
  <%= form.hidden_field :image_cache %>

  <hr />
  <h2>Where will your events be held?</h2>
  <%= form.semantic_fields_for :locations do |location| %>
    <hr />
    <%= render :partial => '/shared/location_fields', :locals => {:form => location} %>
  <% end %>
<% end %>
<%= form.buttons %>

