<%
  accept = raw(ImageUploader.accepts.join(', '))
  data = @result.data

  name = data.name
  organization = data.organization
  category = data.category
  image = data.image
%>

<%= form do %>
<% context "Editing The Event #{ name.inspect } For #{ organization.name.inspect }" %>

  <%= @result.errors %>

  <fieldset>
    <legend>Event</legend>

    <%= @result.form.label(:name) %> &mdash; <span class='hint'>name your event!</span>
    <br />
    <%= @result.form.input(:name, :class => :focus) %>
    <br />
    <br />

    <%= @result.form.label(:description) %> &mdash; <span class='hint'>tell us about the event</span>
    <br />
    <%= @result.form.textarea(:description) %>
    <br />
    <br />

    <%= @result.form.label(:starts_at) %> &mdash; <span class='hint'>pick the date, type the time</span>
    <br />
    <%= @result.form.input(:starts_at, :date, :class => 'date') %> @ <%= @result.form.input(:starts_at, :time, :class => 'time') %>
    <br />
    <br />

    <%= @result.form.label(:ends_at) %> &mdash; <span class='hint'>pick the date, type the time</span>
    <br />
    <%= @result.form.input(:ends_at, :date, :class => 'date') %> @ <%= @result.form.input(:ends_at, :time, :class => 'time') %>
    <br />
    <br />

    <%= @result.form.label(:all_day, :content => 'All day?') %> &mdash; <span class='hint'>going to be a long day!</span>
    <br />
    <%= @result.form.input(:all_day, :type => :checkbox,
      :checked => data.get(:all_day).to_s=='true' ? true : nil) %>
    <br />
    <br />

    <%= @result.form.label(:category) %> &mdash; <span class='hint'>pick a category for the event</span>
    <br />
    <%= @result.form.select(:category, :options => Category.options_for_select, :selected => category.id) %>
    <br />
    <br />

    <%= @result.form.label(:repeats) %> &mdash; <span class='hint'>how often does this event repeat (3 months into the future)</span>
    <br />
      <blockquote style='margin-top:0.2em;'>
      <!--
        <%= @result.form.input(:repeats, :type => :checkbox,
          :value => :monthly,
          :checked => data.get(:repeats) == 'monthly' ? true : nil) %>
        <em style='color:#333;'>monthy?</em>
        <br />
      -->

        <%= @result.form.input(:repeats, :type => :checkbox,
          :value => :daily,
          :checked => data.get(:repeats) == 'daily' ? true : nil) %>
        <em style='color:#333;'>daily?</em>
        <br />

        <%= @result.form.input(:repeats, :type => :checkbox,
          :value => :weekdays,
          :checked => data.get(:repeats) == 'weekdays' ? true : nil) %>
        <em style='color:#333;'>weekdays?</em>
        <br />

        <%= @result.form.input(:repeats, :type => :checkbox,
          :value => :weekends,
          :checked => data.get(:repeats) == 'weekends' ? true : nil) %>
        <em style='color:#333;'>weekends?</em>
        <br />

        <%= @result.form.input(:repeats, :type => :checkbox,
          :value => :weekly,
          :checked => data.get(:repeats) == 'weekly' ? true : nil) %>
        <em style='color:#333;'>weekly?</em>
        <br />
      </blockquote>
    <br />

    <%= @result.form.label(:image) %> &mdash; <span class='hint'>a square picture.  300x300px is good!</span>
    <br />
    <%= @result.form.input(:image, :type => :file, :accept => accept) %>
    <br />
    <br />

    <%= @image_cache %>

    <% if url = @image_cache.url %>
  <!--June 2011: Changed max-dimensions to 300x300-->
      <br /> <label>Uploaded: <%= raw(@image_cache.basename.inspect) %></label> <br />
      <img src='<%= raw(url) %>' alt='<%= raw(url) %>' style='max-width:300px; max-height:300px' /> <br />

    <% else %>

      <br /> <label>Uploaded: <%= raw(image.basename.inspect) %></label> <br />
      <img src='<%= raw(image.url) %>' alt='<%= raw(image.url) %>' style='max-width:300px; max-height:300px' /> <br />

    <% end %>
  </fieldset>


  <fieldset>
    <legend>Venue where the Event will be held</legend>

    <span class='hint'>Pick an existing venue for the event:</span>
    <br />
    <%= @result.form.select(:venue, :id, :options => Venue.options_for_select(:organization => @organization_id)) %>
    <br />
    <br />

    <span class='hint'>Or create a new one...</span>
    <br />
    <br />
    <%= @result.form.label(:venue, :name) %>
    <br />
    <%= @result.form.input(:venue, :name) %>
    <br />
    <br />

    <%= @result.form.label(:venue, :address) %>
    <br />
    <%= @result.form.input(:venue, :address) %>
    <br />
    <br />

    <%= @result.form.label(:venue, :phone) %>
    <br />
    <%= @result.form.input(:venue, :phone) %>
    <br />
    <br />

    <%= @result.form.label(:venue, :email) %>
    <br />
    <%= @result.form.input(:venue, :email) %>
    <br />
    <br />

    <%= @result.form.label(:venue, :url) %>
    <br />
    <%= @result.form.input(:venue, :url) %>
    <br />
    <br />

  </fieldset>


  <hr />
  <%= submit_tag('Update Event') %>
<% end %>
