<div class='content'>
  <%= link_to('Add a new organization', new_my_organization_path, :class => 'yellow button') %>
  <br /><br />

  <nav id="organizations-nav">
  <% @organizations.each_with_index do |organization, index| %>
    <div>
      <h1><%= organization.name %></h1>
      <%= link_to('View public page', organization_path(organization.slug, organization.id)) %>

      <ul>
        <li>
          <%= link_to('New Event', new_my_event_path(:organization_id => organization.id)) %>
        </li>
        <li>
          <%= link_to('All Events', organization_path(organization.slug, organization.id)) %>
        </li>
        <li>
          <%= link_to('Edit', edit_my_organization_path(organization)) %>
        </li>
      </ul>

      <%#= raw organization.locations.map{|l| l.formatted_address }.join('<br />') %>
    </div>
  <% end %>

  </nav>
</div>

