<%
  accept = raw(ImageUploader.accepts.join(', '))
%>

<%= form do %>
  <% context 'Create A New Organization' %>

  <%= @result.errors %>

  <%= @result.form.label(:name) %>&mdash; <span class='hint'>name of the organization</span>
  <br />
  <%= @result.form.input(:name, :class => :focus, :autofocus => 'autofocus') %>
  <br />
  <br />

  <%= @result.form.label(:description) %> &mdash; <span class='hint'>tell us about the organization</span>
  <br />
  <%= @result.form.textarea(:description) %>
  <br />
  <br />

  <%= @result.form.label(:email) %> &mdash; <span class='hint'>an email where we can contact you</span>
  <br />
  <%= @result.form.input(:email) %>
  <br />
  <br />

  <%= @result.form.label(:url) %> &mdash; <span class='hint'>your organizations website, facebook, or twitter url</span>
  <br />
  <%= @result.form.input(:url) %>
  <br />
  <br />

  <%= @result.form.label(:phone) %> &mdash; <span class='hint'>the organization's phone number</span>
  <br />
  <%= @result.form.input(:phone) %>
  <br />
  <br />

  <%= @result.form.label(:address) %> &mdash; <span class='hint'>the organization's street address</span>
  <br />
	<% if @result.form.data.address.empty? %>
		<%= text_field_tag 'addr_street','', :placeholder => 'street'  %>
	  <br />
		<%= text_field_tag 'addr_city','', :placeholder => 'city'  %>
	  <br />
		<%= text_field_tag 'addr_state','', :placeholder => 'state'  %>
	  <br />
		<%= text_field_tag 'addr_zip','', :placeholder => 'zip/(post) code'  %>
	<% else %>
	  <%= @result.form.input(:address) %>
	<% end %>
  <br />
  <br />

  <%= @result.form.label(:category) %> &mdash; <span class='hint'>pick a category for the organization</span>
  <br />
  <%= @result.form.select(:category, :options => Category.options_for_select) %>
  <br />
  <br />

  <%= @result.form.label(:image) %> &mdash; <span class='hint'>a <em>square</em> image of the organization (300x300px is best / <%= accept %>)</span>
  <br />
  <%= @result.form.input(:image, :type => :file, :accept => accept) %>
  <br />
  <br />

  <%= @result.form.label(:status) %> &mdash; <span class='hint'>what's going on at the organization?</span>
  <br />
  <%= @result.form.textarea(:status, :maxlength => '140', :placeholder => '140 Characters Max') %>
  <br />
  <br />
  <%= @image_cache %>
  <% if url = @image_cache.url %>
    <br /> <label>Uploaded: <%= raw(@image_cache.basename.inspect) %></label> <br />
    <img src='<%= raw(url) %>' alt='<%= raw(url) %>' style='max-width:300px; max-height:300px' /> <br />
  <% end %>

  <hr />
  <%= submit_tag('Create Organization') %>
<% end %>
