<div class='content'>
  <div>
    <h1 class='big'><%= @organization.name %></h1>

    <div class="organization-buttons">
      <ul class='buttons'>
        <li>
          <%= link_to('New Event', new_my_event_path(:organization_id => @organization.id)) %>
        </li>
        <li>
          <%= link_to('Edit Organization Info', edit_my_organization_path(@organization)) %>
        </li>
        <li>
          <%= link_to('View Public Page', organization_path(@organization.slug, @organization.id)) %>
        </li>
        <li>
          <%= link_to('Add User', my_organization_add_user_path(@organization)) %>
        </li>
      </ul>
    </div>

    <!-- We no longer support ReportGrid
    <h2 class='big'>Your Event Views</h2> 
      <div class="organization_stats chart" id="<%= dom_id(@organization) %>">
    </div> -->
    <hr />
    <br />

    <% if @repeating_events.any? %>
      <h2 class='big'>Repeating Events</h2>
      <%= render :partial => '/my/events/event', :collection => @repeating_events %>
    <% end %>

    <% if @one_time_events.any? %>
      <h2 class='big'>Upcoming One-time Events</h2>
      <%= render :partial => '/my/events/event', :collection => @one_time_events %>
    <% end %>
  </div>

</div>

