<% context('About lokalite') %>
  <section id="about" class="profile">

    <article>
    <%= image_tag('lokalite_cat.png', :class=>'float-left') %>

    <div class="fill-right">
    <hgroup>
      <h1 class="logo"><span class="visuallyhidden">Lokalite</span></h1>

      <h2 class="tk-deva-ideal">Life outside the box.</h2>

      <div class="description">
<%= c('At Lokalite, we believe in living life outside the box.  It’s all about learning a little, playing a little, and experiencing a lot.  We created Lokalite to make it as easy as possible for you to connect with the events, places, and businesses that make your local scene unforgettable.  From where to find the best happy hours to when your favorite band is rolling through town, we’ve got you covered. 

We’re just getting started, so let us know what you think.  And if there’s something you don’t see that’s just too awesome to be left out, let us know and we’ll do our best to make it happen.  

So go ahead, start experiencing life outside the box, away from that computer, and into your community!') %>
      </div>

    </div><!-- end fill-right -->
    </article>
  </section>

<!--
  <table class="lokalites">
    <tr>
      <th colspan="2">The lokalites</th>
    </tr>
    <tr>
      <td>
        <img src="../images/lokalite_about_laurenc.jpg" /> 
      </td>
      <td>
        <div>
          <strong>Lauren Costantini</strong> | <%= mailto('lauren@lokalite.com') %> | Head of Strategy
        </div>
        <p>Lauren graduated from the Leeds School of Business at the University of Colorado where she fell in love with the mountains, microbrews, and nerds.  Born and raised in Connecticut, Lauren’s plans for Lokalite’s future are just about as big as her east coast personality.  Sorry boys, she’s ours!  </p>  
      </td>
    </tr>
    <tr>
      <td>
        <img src="../images/lokalite_about_willp.jpg" /> 
      </td>
      <td>
        <div>
          <strong>Will Powers</strong> | <%= mailto('will@lokalite.com') %> | Head of Finance
        </div>
        <p>Not your typical finance guy, Will likes kicking it old school.  Give him time to get wired into his music and he’ll knock out any spreadsheet, proposal, or legal jargon.  He’s always reaching for the adjacent possible.</p>  
      </td>
    </tr>
    <tr>
      <td>
        <img src="../images/lokalite_about_zachp.jpg" /> 
      </td>
      <td>
        <div>
          <strong>Zach Pramer</strong> | <%= mailto('zach@lokalite.com') %> | Head of Client Relations 
        </div>
        <p>Zach is a recent Leeds grad on a journey to master the art of client relations.  Zach’s idea of a perfect day is shushing down the slopes or doing some sun salutations on the yoga mat.  Oh yeah, one time he killed two birds with one stone.</p>  
      </td>
    </tr>
    <tr>
      <td>
        <img src="../images/lokalite_about_grahamc.jpg" /> 
      </td>
      <td>
        <div>
          <strong>Graham Christy</strong> | <%= mailto('graham@lokalite.com') %> | Head of Product Development
        </div>
        <p>As easygoing as they come, Graham doesn't mind filling the role of the "social engineer." Hailing from northern California, you can find Graham shredding mountains on his planks or thirty feet up on a rock wall. Got a problem? Graham is the man with the plan to fix it.</p>  
      </td>
    </tr>
  </table>
-->

