  <div class="content">
    <h3 style="font-size:18pt">Lokalite Advertising</h3>
    <p style="font-size: 14pt">Leverage Lokalite's innovative platform to take your events to the next level.</p> 

  <div>
    <div class="advertising-point">
      <h3 style="font-size: 14pt">Product 1</h3>
      <p>Let us help manage your events on Lokalite.</p>
    </div>
    <div class="advertising-point">
      <h3 style="font-size:14pt">Featured Events</h3>
      <p>Supercharge your events with Lokalite's featured events.</p>
    </div>
    <div class="advertising-point">
      <h3 style="font-size:14pt">Product 3</h3>
      <p>Consult with our social media experts to increase you online presence.</p>
    </div>
  </div>

    <div>
      <h3 style="font-size:18pt">Get Started with Lokalite's Products & Services</h3>
      <p>*All fields required unless otherwise indicated</p>
    </div>

  
  <div class='form-stacked'>
    <%= form_for :email, :url => { :controller => 'static', :action => 'send_advertise_mail' } do |f| %>  
    <div class="advertising-half-left"> 
      <h3><u>Advertiser</u></h3>
    <div>
      <strong><%= f.label 'Company or Brand Name' %></strong>
      <%= f.text_field :company, :class => "advertise-field" %>
    </div>
    <div class="avt"> 
      <strong><%= f.label 'Estimated Monthly Budget:' %></strong>
      <ul>
        <li>
          <%= f.select :budget, ['Select One...', '$100 - $499', '$500 - $999', '$1000 - $1499', '$1500 - $1999', '$2000+'] %>
        </li>
      </ul>
    </div>  

  <div class="avt">
    <strong><%= f.label 'Interested In:' %></strong>
      <ul>
        <li>
          <%= f.check_box(:subscription) %>
          <%= f.label(:subscription, "Product 1") %>
        </li>
        <li>
          <%= f.check_box(:featuring_events) %>
          <%= f.label(:featuring_events, "Featured Events") %>
        </li>
        <li>
          <%= f.check_box(:social_media) %>
          <%= f.label(:social_media, "Product 3") %>
        </li>
      </ul>
    <div class="avt">
      <strong><%= f.label 'Estimated Start Date:' %></strong>
      <ul>
        <li>
          <%= f.select :begin, ['Select One...', '1 - 2 weeks', '3 - 4 weeks', '1+ months'], "id"=>"normalSelect" %>
        </li>
      </ul>
    </div>

    <div>
      <strong><%= f.label 'Non-Profit? (optional)' %></strong>
        <ul>
          <li>
            <%= f.check_box(:non_profit) %>
            <%= f.label(:non_profit, 'This is for non-profit organizations') %>
          </li>
        </ul>
    </div>
  </div>
</div>

  <div class="advertising-half-right">    
    <h3><u>About You</u></h3>
    <div>
      <strong><%= f.label 'First Name' %></strong>
      <%= f.text_field :first_name, :class => "advertise-field" %>
    </div>
    <div>
      <strong><%= f.label 'Last Name' %></strong>
      <%= f.text_field :last_name, :class => "advertise-field" %>
    </div>
    <div>
      <strong><%= f.label 'Agency Name (optional)' %></strong>
      <%= f.text_field :agency, :class => "advertise-field", :required => false %>
    </div>
    <div>
      <strong><%= f.label 'City' %></strong>
      <%= f.text_field :city, :class => "advertise-field" %>
    </div>
    <div>
      <strong><%= f.label :email %></strong>
      <%= f.email_field :email, :class => "advertise-field" %>
    </div>
    <div>
      <strong><%= f.label 'Phone Number' %></strong>
      <%= f.text_field :phone, :class => "advertise-field" %>
    </div>  
  </div>

    <div>
      <h3><u>Anything Else?</u></h3> 
      <strong><%= f.label 'Comments (optional)' %></strong>
      <%= f.text_area :comments, :class => "advertise-field-comments", :rows => 5, :required => false %>
    </div>

    <div>
      <%= f.submit 'Submit', "class"=>"btn secondary submit" %>
    </div>
    <% end %>
  </div>
</div>
