<h1>Lokalite's Press Coverage</h1>

<div id='all-press'>
  <div class='boulder-beta'>
    <%= link_to image_tag('Boulder-Beta.gif'), 'http://boulderbeta.com/boulder-beta-holiday-party-recap-crowd-favorite' %>
  </div>
  
  <div class='street-fight'>
    <%= link_to image_tag ("Off-Campus-Events-Go-Hyperlocal-With-Student-Guide-Lokalite.gif"), 'http://streetfightmag.com/2011/12/07/off-campus-events-go-hyperlocal-with-student-guide-lokalite/', :alt => 'Hyperlocal Event Guide' %> 
  </div>

  <div class='pocket-full'>
    <%= link_to image_tag('Local-Apps-to-Find-Events-Near-You.gif'), 'http://pocketfullofapps.com/2012/01/07/local-apps-to-find-events-near-you.html', :alt => 'Local Events Near You' %>
  </div>

  <div class='new-era'>
    <%= link_to image_tag('New-Era-News.gif'), 'http://www.neweranews.org/blog/my-community-is-pretty-neat-lokalitecom' %>
  </div>

  <div class='deming-center'>
    <%= link_to image_tag('Deming-Center-for-Entrepreneurship.gif'), 'http://vimeo.com/31040395' %>
  </div>

  <div class='bc-business-report'>
    <%= link_to image_tag('Boulder-County-Business-Report.gif'), 'http://www.bcbr.com/article.asp?id=60654' %>
  </div>

  <div class='leeds'>
    <%= link_to image_tag('CU-Leeds-Business.gif'), 'http://leeds.colorado.edu/news/120' %>
  </div>

  <div class='cu-independent'>
    <%= link_to image_tag('CU-Independent.gif'), 'http://www.cuindependent.com/2011/11/13/new-lokalite-features-bring-bar-specials-to-students/29793/' %>
  </div>

  <div class='daily-camera'>
    <%= link_to image_tag('Daily-Camera.gif'), 'http://www.dailycamera.com/cu-news/ci_19066389?IADID=Search-www.dailycamera.com-www.dailycamera.com' %>
  </div>
</div>

