<div class='sitemap'>
  <h1>Site Map</h1>

  <nav class="right1">
    <h2>General Information</h2>
    <ul>
      <li>
        <%= link_to 'About', static_path('about') %>
      </li>
      <li>
        <%= link_to 'Contact', static_path(:contact) %>
      </li>
      <li>
        <%= link_to 'Terms', static_path(:terms_of_service) %>
      </li>
      <li>
        <%= link_to 'Privacy Policy', static_path(:privacy_policy) %>
      </li>
      <li>
        <%= link_to 'Business', business_promo_path %>
      </li>
      <li>
        <%= link_to 'Press Coverage', static_path(:press_coverage) %>
      </li>
    </ul>
  </nav>

  <!-- <nav class='right1'>
    <h2>Business Solutions</h2>
    <ul>
      <li>
        <%= link_to 'Promote your events/business', business_sign_up_path %>
      </li>
    </ul>
  </nav> -->

  <nav class='right2'>
    <h2>Events on the Go</h2>
    <ul>
      <li>
        <%= link_to 'iPhone App', 'http://itunes.apple.com/us/app/lokalite-for-local-events/id464192359?mt=8' %>
      </li>
      <li>
        <!-- <%#= link_to 'Mobile Site', 'http://m.lokalite.com' %> -->
      </li>
    </ul>
  </nav>

  <nav class='right3'>
    <h2>Social Media</h2>
    <ul>
      <li>
        <%= link_to 'Follow us on Twitter', 'https://twitter.com/EventsBoulder' %>
      </li>
      <li>
        <%= link_to 'Like us on Facebook', 'http://www.facebook.com/Lokalite' %>
      </li>
      <li>
        <%= link_to 'Find us on Crunchbase', 'http://www.crunchbase.com/company/lokalite' %>
      </li>
      <li>
        <%= link_to 'Find us on AngelList', 'http://www.angel.co/lokalite' %>
      </li>
    </ul>
  </nav>

  <nav class='local-businesses'>
    <h2>Boulder Businesses</h2>
    <ul class='categories'>
      <%
        # not including Featured for places yet, but might want to add that in sometime
        ORGANIZATION_CATEGORIES.dup.unshift('All Places').each do |category|
        slug = category.parameterize('_')
        classes = [slug]
        if params[:controller] == 'places' and params[:action] == 'index'
          classes << 'active' if slug == params[:category] or (params[:category].blank? and slug.start_with?('all_'))
        end
      %>
        <li class="<%= classes.join(' ') %>">
          <%
              options = {:origin => params[:origin]}
              options[:category] = slug unless category == 'All Places'
          %>
          <%= link_to(category, places_path(options)) %>
        </li>
      <% end %>
    </ul>
  </nav>

  <nav class='local-events'>
    <h2>Boulder Events</h2>
    <ul class='categories'>
      <%
        EVENT_CATEGORIES.dup.unshift('Featured', 'Most Popular').push('All Events').each do |category|
        slug = category.parameterize('_')
        classes = [slug]
        if event_index_page?
          classes << 'active' if slug == params[:category] or (params[:category].blank? and slug == 'all_events')
        end
      %>
        <li class="<%= classes.join(' ') %>">
          <%= link_to(category, events_path_with_options(:category => slug)) %>
        </li>
      <% end %>
    </ul>
  </nav>

  <!-- <nav class="local-partners">
    <h2>Local Partners</h2>
    <ul>
      <li>
        <%= link_to '#' %>
      </li>
    </ul>
  </nav> -->

</div>  
