<div class='content'>
  <div>
    <% if params[:business] %>
      <h1 class='big'>Sign up now to promote your events!</h1>
      <h2 class='big'>
        Because we are awesome and so are you.
      </h2>
    <% else %>
      <h1 class='big'>Find life in your community</h1>
      <h2 class='big'>
        With lokalite, finding something to do has never been so easy. Whether at home or traveling around, you'll always feel like a lokal.
      </h2>
      <h2 class='big'>
        Get started, fun's right around the corner.
      </h2>
    <% end %>
  </div>

  <div class='devise-fields'>
    <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
    <br />

    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div><%= f.label :email %><br />
        <%= f.email_field :email %></div>

      <div><%= f.label :password %><br />
        <%= f.password_field :password %></div>

      <% if devise_mapping.rememberable? -%>
        <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
      <% end -%>

      <div class='buttons'>
        <%= f.submit "Sign in" %>
        or
        <%= link_to "Sign up", new_registration_path(resource_name) %><br />

        <br />
        <br />
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      </div>
    <% end %>
  </div>

</div>
