<div id="business-landing">
  <div class="center-field">

    <h1 class="landing-title">Join the <%= Organization.all.size %> Boulder companies using Lokalite</h1>
    <div class="clear"></div>

    <div class="left-side">
      <p class='create'>
        <strong>Create</strong> as many events as you'd like for FREE. Happy hours, weekly specials, free classes, special deals... add whatever suites your fancy.
      </p>
      <p class='share'>
        <strong>Share</strong> any of your events to Facebook and Twitter with the click of a button. You can also follow posts to stay up to date on what people are saying about your event.
      </p>
      <p class='analyze'>
        <strong>Analyze</strong> the power of your events. Lokalite's custom analytics provide valuable insights into the performance of your events on Lokalite.
      </p>
    </div>

    <div class="sign-up">
      <h2><strong>New to Lokalite?</strong> Join Today!</h2>

      <div>
        <fb:login-button size='xlarge' onlogin="afterFacebookSignIn()">Sign up using Facebook</fb:login-button>
      </div>

      <h3>or with email and password</h3>
      <br />

      <%= form_for(:user, :url => registration_path(:user)) do |f| %>
        <div>
          <%= f.email_field :email, :placeholder => "Email", :class => "landing-form-field" %>
        </div>

        <div>
          <%= f.password_field :password, :placeholder => "Password", :class => "landing-form-field" %>
        </div>

        <div>
          <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", :class => "landing-form-field" %>
        </div>

        <div>
          <%= f.submit 'Sign Up', :class => "btn secondary large" %>
        </div>
      <% end %>

      <hr />

    </div>
  </div>
</div>

