<div id="public-landing">
  <div class="center-field">
    <div class="left-side">
      <h1 class="landing-title">Discover Boulder Events</h1>
      <p class="landing-desc">Find, share, and plan with friends using the thousands
      of local events going on in the Boulder community</p>

      <ul class="events">
        <% Event.featured_on(Time.zone.now.to_date).limit(2).each do |event| %>
        <%= render :partial => '/events/event', :locals => { :event => event } %>
        <% end %>
      </ul>
    </div>

    <div class="sign-up">
      <h2><strong>New to Lokalite?</strong> Join Today!</h2>

      <!-- <div id="facebook_xlarge"> 
        <fb:login-button size='xlarge' onlogin="afterFacebookSignIn()" alt="Sign up using Facebook">Sign up using Facebook</fb:login-button> 
      </div>
      <br />

      <h4>or with email and password</h4>
      <br /> -->

      <%= form_for(:user, :url => registration_path(:user)) do |f| %>
        <div>
          <%= f.email_field :email, :placeholder => "Email", :class => "landing-form-field" %>
        </div>

        <div>
          <%= f.password_field :password, :placeholder => "Password", :class => "landing-form-field" %>
        </div>

        <div>
          <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", :class => "landing-form-field" %>
        </div>

        <div>
          <%= f.submit 'Sign Up', :class => "btn large secondary" %>
        </div>
      <% end %>

      <hr />

      <p> 
        <div class='enter-land'>
          <%= link_to 'Browse Now', events_path(:origin => params[:origin], :category => 'featured') %> 
        </div>
      </p>

    </div>
  </div>
</div>

