
<div style='width:80%;margin:auto'>

  <br />
  <br />
  <%= link_to raw('&larr; All Users'), :action => :index %>
  <br />

  <% form(@user) do |f| %>

    <%= f.error_messages %>

    <%= f.label :handle %>
    <br />
    <%= f.text_field :handle, :class => :focus %>
    <br />

    <%= f.label :email %>
    <br />
    <%= f.text_field :email %>
    <br />

    <%= f.label :password %>
    <br />
    <%= f.text_field :password, :value => nil %>
    <br />

    <%= f.label :admin? %>
    <br />
    <%= f.check_box :admin? %>
    <br />

    <%= label_tag 'user[invitation]', 'Invitation?'  %>
    <br />
    <%= check_box_tag 'user[invitation]', value='1', checked=false %>
    <br />

    <br />
    <%= f.submit %>

  <% end %>


</div>
