
<div style='width:80%;margin:auto'>
  
  <br />
  <%= link_to raw('&larr; All Users'), :action => :index %>
  <br />
  <br />

  <% form(@user) do |f| %>

    <%= f.error_messages %>
    
    <br />
    <%= f.text_field :handle, :placeholder => "Handle", :class => :focus, :style => "padding: 10px" %>
    <br />
    <br />

    <%= f.text_field :email, :placeholder => "Email", :style => "padding: 10px" %>
    <br />
    <br />

    <%= f.text_field :password, :placeholder => "Password", :value => nil, :style => "padding: 10px" %>
    <br />
    <br />

    <%= f.label :admin? %>
    <br />
    <%= f.check_box :admin? %>
    <br />

    <%= label_tag 'user[invitation]', 'Invitation?'  %>
    <br />
    <%= check_box_tag 'user[invitation]', value='1', checked=false %>
    <br />

    <br />
    <%= f.submit (:class => "btn secondary submit") %>

  <% end %>


</div>
