
<div style='width:80%;margin:auto'>

  <br />
  <br />

    <%= link_to 'Create A New User', :action => :new %>

  <br />
  <br />

  <table style='width:100%'>
    <tr>
      <th>
        Email
      </th>
      <th>
        Created At
      </th>
      <th>
        Sudo
      </th>
      <th>
        Admin?
      </th>
    </tr>

    <% @users.each do |user| %>

      <tr>
        <td style='padding:0.5em'>
          <%= link_to user.email, :action => :edit, :id => user.id %> <br />
        </td>
        <td style='padding:0.5em'>
          <%= user.created_at.to_s(:datetimepicker) %> <br />
        </td>
        <td style='padding:0.5em'>
          <%= link_to 'sudo', :action => :sudo, :id => user.id %> <br />
        </td>
        <td style='padding:0.5em'>
          <% checked = user.admin? ? 'checked' : '' %>
          <input type='checkbox' disabled='true' <%= checked %>/><br />
        </td>
      </tr>

    <% end %>
  </table>

  <br />
  <%= will_paginate :collection => @users %>


</div>
