<%= render :partial => 'profile/profile_header' %>

<div style='width:90%;margin:auto'>

    <%= link_to 'Create A New User', '/admin/users/new', :class => 'btn medium primary' %>
  <br />
  <br />

  <table style='width:100%'>
    <tr>
      <th style='text-align:left; padding: 0 0 0 .5em'>
        Email
      </th>
      <th style='text-align:left; padding: 0 0 0 .5em'>
        Created At
      </th>
      <th style='text-align:left; padding: 0 0 0 .5em'>
        Sudo
      </th>
      <th style='text-align:left; padding: 0 0 0 .5em'>
        Admin?
      </th>
      <th style='text-align:left; padding: 0 0 0 .5em'>
        Organization?
      </th>
    </tr>

    <% @users.each do |user| %>

      <tr>
        <td style='padding:0.5em'>
          <%= link_to user.email, :action => :edit, :id => user.id %> <br />
        </td>
        <td style='padding:0.5em; width:20%'>
          <%= user.created_at.to_s(:datetimepicker) %> <br />
        </td>
        <td style='padding:0.5em'>
          <%= link_to 'sudo', :action => :sudo, :id => user.id %> <br />
        </td>
        <td style='padding:0.5em'>
          <% checked = user.admin? ? 'checked' : '' %>
          <input type='checkbox' disabled='true' <%= checked %>/><br />
        </td>
        <td style='padding:0.5em'>
          <% if user.organizations.any? %>
          <% user.organizations.each do |organization| %>
          <%= link_to truncate(organization.name, :length => 15), organization_path(organization.slug, organization.id) %>
      <% end %>
          <% else %>
          None 
          <% end %> <br />
        </td>
      </tr>

      <% end %>
  </table>

  <br />
  <%= will_paginate :collection => @users %>

</div>
<br />
<br />
<div class='content-with-align'>
      <h1 class='info'>
        There are currently
        <strong>
          <%= Event.upcoming.size %>
          events
        </strong>


        <br />
        put on by
        <strong>
          <%= Organization.all.size %>
          companies
        </strong>
        in Boulder, Co.
      </h1>
    </div>
