<%= form_for @plan, :html => {:id => 'plan-form'} do |f| -%>
  <%= f.error_messages %>

  <%= f.hidden_field :event_ids %>

  <div class="mbm">
    <%= f.text_field :title, :placeholder => 'Title' %>
  </div>

  <div class="mbm">
    <%= f.text_area :description, :placeholder => 'Description' %>
    <span id="counter"></span>
  </div>

  <% if false %>
    <div class="mbm">
      <%= f.check_box :public %>
      <%= f.label :public, "Plan is public?" %>
    </div>
  <% end %>

  <%# <div>%>
    <%#=  f.text_field :start_date, :placeholder => 'Start Date', :class => 'datepicker' %>
  <%# </div>%>

  <p class='centered cf'>
    Add events to your plan by dragging them from your <i>Datebook</i> (left).
  </p>

  <div id='selected-event-list' class='events cf'>
    <%# does not yet allow for editing of events in plan %>
    <% if f.object.new_record? %>
      <div class='drag-target'></div>
      <div class="thumb-container cf">
        <li class="drag-thumb">
          <div class="image">
            <a href="">
              <img src="/images/boulder_theater.jpg">
              <div class="description" style="display:none;">$2.75 New Belgium Drafts all day long. </div>
            </a>
          </div>
          <a class="close">Close</a>
        </li>
        <li class="drag-thumb">
          <div class="image">
            <a href="">
              <img src="/images/boulder_theater.jpg">
              <div class="description" style="display:none;">$2.75 New Belgium Drafts all day long. </div>
            </a>
          </div>
          <a class="close">Close</a>
        </li>
        <li class="drag-thumb">
          <div class="image">
            <a href="">
              <img src="/images/boulder_theater.jpg">
              <div class="description" style="display:none;">$2.75 New Belgium Drafts all day long. </div>
            </a>
          </div>
          <a class="close">Close</a>
        </li>
        <li class="drag-thumb">
          <div class="image">
            <a href="">
              <img src="/images/boulder_theater.jpg">
              <div class="description" style="display:none;">$2.75 New Belgium Drafts all day long. </div>
            </a>
          </div>
          <a class="close">Close</a>
        </li>
      </div>
    <% else %>
      <% f.object.events.each do |event| %>
        <%= render :partial => '/events/event', :locals => { :event => event } %>
      <% end %>
    <% end %>
  </div>

  <div class="clear"></div>

  <div class="centered">
    <%= f.submit :class => 'btn primary' %>
  </div>
<% end -%>

