<%= form_for @plan, :html => {:id => 'plan-form'} do |f| -%>
  <%= f.error_messages %>

  <%= f.hidden_field :event_ids %>

  <div class="mbm">
    <%= f.text_field :title, :placeholder => 'Title' %>
  </div>

  <div class="mbm">
    <%= f.text_area :description, :placeholder => 'Description' %>
    <span id="counter"></span>
  </div>

  <% if false %>
    <div class="mbm">
      <%= f.check_box :public %>
      <%= f.label :public, "Plan is public?" %>
    </div>
  <% end %>

  <%# <div>%>
    <%#=  f.text_field :start_date, :placeholder => 'Start Date', :class => 'datepicker' %>
  <%# </div>%>

  <p class='centered cf'>
    Add events to your plan by dragging them from your <i>Datebook</i> (left).
  </p>

  <div id='selected-event-list' class='events cf'>
    <%# does not yet allow for editing of events in plan %>
    <div class='drag-target'></div>
    <ul class="thumb-container">
      <% f.object.events.each do |event| %>
        <%= render :partial => '/events/event', :locals => { :event => event } %>
      <% end unless f.object.new_record? %>
    </ul>
  </div>

  <div class="clear"></div>

  <div class="centered">
    <%= f.submit :class => 'btn primary' %>
  </div>
<% end -%>

