<%= form_for @plan, :html => {:id => 'plan-form'} do |f| -%>
  <%= f.error_messages %>

  <%= f.hidden_field :event_ids %>

  <div>
    <%= f.text_field :title, :placeholder => 'Title' %>
  </div>

  <div>
    <%= f.text_area :description, :placeholder => 'Description' %>
    <span id="counter"></span>
  </div>

  <% if false %>
    <div>
      <%= f.check_box :public %>
      <%= f.label :public, "Plan is public?" %>
    </div>
  <% end %>

  <%# <div>%>
    <%#=  f.text_field :start_date, :placeholder => 'Start Date', :class => 'datepicker' %>
  <%# </div>%>

  <p class='centered cf'>
    Drag and drop events below to add them to your plan.
  </p>

  <div id='selected-event-list' class='events cf'>
    <%# does not yet allow for editing of events in plan %>
    <% if f.object.new_record? %>
      <div id='drag-target'></div>
      <div class="drag-thumb">
        <div class="image">
          <a href="">
            <img src="/images/social-icons/facebook_320.png">
            <div class="description" style="display:none;">$2.75 New Belgium Drafts all day long. </div>
          </a>
        </div>
        <a class="close">Close</a>
      </div>
      <div class="drag-thumb">
        <div class="image">
          <a href="">
            <img src="/images/social-icons/facebook_320.png">
            <div class="description" style="display:none;">$2.75 New Belgium Drafts all day long. </div>
          </a>
        </div>
        <a class="close">Close</a>
      </div>
      <div class="drag-thumb">
        <div class="image">
          <a href="">
            <img src="/images/social-icons/facebook_320.png">
            <div class="description" style="display:none;">$2.75 New Belgium Drafts all day long. </div>
          </a>
        </div>
        <a class="close">Close</a>
     </div>
      <div class="drag-thumb">
        <div class="image">
          <a href="">
            <img src="/images/social-icons/facebook_320.png">
            <div class="description" style="display:none;">$2.75 New Belgium Drafts all day long. </div>
          </a>
        </div>
        <a class="close">Close</a>
      </div>
    <% else %>
      <% f.object.events.each do |event| %>
        <%= render :partial => '/events/event', :locals => { :event => event } %>
      <% end %>
    <% end %>
  </div>

  <div class="clear"></div>

  <div class="centered">
    <%= f.submit %>
  </div>
<% end -%>

