<section class="plan-preview cf">

  <div class='title'>
    <div class="title-image">
      <%= image_tag plan.user.image_url %>
    </div>
    <div class="text">
      <h1><%= link_to plan.title, plan %></h1>
      <h2>By <%= plan.user.full_name %></h2>
    </div>
  </div>

  <div class="clear"></div>

  <div class='image'>
    <%= google_maps_image(plan, :size => '190x190') %>
  </div>

  <div class="event-thumbs">
    <dl>
      <dt>Events</dt>
      <dd>
        <% for event in plan.events[0...10] %>
          <%= link_to image_tag(event.image.url(:small), :class => 'tooltip profile_small', :title => event.name), event_path(event.slug, event.id) %>
        <% end -%>
      </dd>
    </dl>
  </div>

  <div class="detail">
    <dl>
      <dt>Time</dt>
      <dd><%= render :partial => '/events/time_span', :locals => {:event => plan} %></dd>
    </dl>
  </div>

  <div class="detail">
    <dl>
      <dt>Description</dt>
      <dd><%= clean_format plan.description %></dd>
    </dl>
  </div>

  <div class="attendee-thumbs">
    <dl>
    <dt>Who's Coming?</dt>
      <dd>
        <% for user in plan.attendees -%>
          <%= image_tag(user.image_url, :class => 'tooltip profile_small', :title => user.full_name) %>
        <% end -%>
      </dd>
    </dl>
  </div>

</section>
<hr />
