<div class="profile-header">
  <div class="avatar">
    <%= image_tag current_user.image_url(:normal), :alt => current_user.full_name %>
  </div>

  <div class="band">
    <h1><%= raw profile_breadcrumbs %></h1>
    <ul class='profile-links cf'>
      <li class="datebook-icon"><%= link_to 'Bookmarks', datebook_path %></li>
      <li class="plans-icon"><%= link_to 'Plans', user_plans_path %></li>
      <li class="suggestions-icon"><%= link_to 'Suggestions', events_path(:origin => params[:origin], :category => 'suggested') %></li>
    </ul>
  </div>
</div>

