<div class="profile-header">
  <% if current_user.image_url %>
    <div class="avatar">
      <%= image_tag current_user.image_url(:normal), :alt => current_user.full_name %>
      <%#= image_tag current_user.image_url(:normal), :alt => current_user.full_name %>
    </div>
  <% end %>
  <div class="band">
    <h1><%= raw profile_breadcrumbs %></h1>


    <ul class='profile-links'>
      <li><%= link_to 'Datebook', datebook_path %></li>
      <li><%= link_to 'Plans', user_plans_path %></li>
      <li><%= link_to 'Suggestions', events_path(:origin => params[:origin], :category => 'suggested') %></li>
      <li><%= link_to 'Edit Profile', edit_profile_path %></li>
    </ul>
    <div class="clear"></div>
  </div>
</div>

