<div class="profile-header">
  <% if current_user.image_url %>
    <div class="avatar">
      <%= image_tag current_user.image_url(:normal), :alt => current_user.full_name, :size => '100x100' %>
      <%#= image_tag current_user.image_url(:normal), :alt => current_user.full_name %>
    </div>
  <% end %>
  <div class="band">
    <h1><%= raw profile_breadcrumbs %></h1>
    <ul class='profile-links cf'>
      <li class="datebook-icon"><%= link_to 'Datebook', datebook_path %></li>
      <li class="plans-icon"><%= link_to 'Plans', user_plans_path %></li>
      <li class="suggestions-icon"><%= link_to 'Suggestions', events_path(:origin => params[:origin], :category => 'suggested') %></li>
    </ul>
  </div>
</div>

