<h1 class="bookmarks-title">Profile Settings</h1>

<div class="content">

  <%= semantic_form_for current_user, :url => update_profile_path do |form| %>
    <%= form.inputs do %>
      <li>
        <%= form.error_messages %>
      </li>
      <%= form.input :email %>
      <%= form.input :password, :hint => "Leave blank unless you want to change your password.", :input_html => {:value => ''} %>
      <%#= form.input :time_zone %>
    <% end %>

    <% if current_user.organizations.size > 0 %>
      <h2>My Organizations</h2>
      <ul class="list"> 
        <% @organizations = current_user.organizations.order('name')%>
        <% @organizations.each_with_index do |organization, index| %>
        <li>
          <div class="org_name"> <%= organization.name %> </div>
          <%= link_to('Remove Organization', my_organization_remove_user_path(organization), :method => "POST", :style => "float: right") %> 
        </li>
        <% end %>  
      </ul>
    <% end %> 

    <h2>Favorite Categories</h2>
    <script type="text/javascript">
      $(function() {
        $('.check_boxes input').change(function() {
          $('#updated_categories').val('changed');
        })
      });
    </script>
    <input id="updated_categories" type="hidden" name="updated_categories"> 
    <%= form.inputs do %>
      <div class="cat">
        <%= form.input :event_categories, :as => :check_boxes, :collection => EVENT_CATEGORIES, :label => "", :class => "test"%>

      </div>
    <% end %>

    <%= form.buttons do %>
      <%= form.submit 'Update Profile' %>
    <% end %>
  <% end %>


</div>
