  <h5>Places Categories</h5>
    <input id="places_categories" type="hidden" name="places_categories"> 
    <%= form_tag places_path(:origin => params[:origin], :category => params[:category]) do %>
    
    <div class='columns'>
      <%= check_box_tag 'category[shopping]', 'shopping' %>
<<<<<<< Updated upstream
<<<<<<< Updated upstream
      <%= label_tag 'shopping', "Shopping" %>
=======
      <%= label_tag 'category[shopping]', "Shopping" %>
>>>>>>> Stashed changes
=======
      <%= label_tag 'category[shopping]', "Shopping" %>
>>>>>>> Stashed changes
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[restaurants and bars]', 'restaurants and bars' %>
      <%= label_tag 'category[restaurants and bars]', "Restaurants and Bars" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[coffee and tea]' %>
      <%= label_tag 'category[coffee and tea]', "Coffee and Tea" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[arts and entertainment]', 'arts and entertainment' %>
      <%= label_tag 'category[arts and entertainment]', "Arts and Entertainment" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[services]', 'services' %>
      <%= label_tag 'category[services]', "Services" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[campus]', 'campus' %>
      <%= label_tag 'category[campus]', "Campus" %>
    </div>

  <div class='right_column_events'>
    <div class='columns'>
      <%= check_box_tag 'category[beer wine and spirits]', 'beer wine and spirits' %>
      <%= label_tag 'category[beer wine and spirits]', "Beer Wine and Spirits" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[sports and fitness]', 'sports and fitness' %>
      <%= label_tag 'category[sports and fitness]', "Sports and Fitness" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[health and beauty]', 'health and beauty' %>
      <%= label_tag 'category[health and beauty]', "Health and Beauty" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[non-profit]', 'non-profit' %>
      <%= label_tag 'category[non-profit]', "Non-Profit" %>
    </div> 
    
    <div class='columns'>
      <%= check_box_tag 'category[mmj]', 'mmj' %>
      <%= label_tag 'category[mmj]', "MMJ" %>
    </div> 
  </div>

<% end %>
  
