  <h4>Places Categories</h4>
    <input id="places_categories" type="hidden" name="places_categories"> 
    <%= form_tag places_path(:origin => params[:origin], :category => params[:category]) do %>
    
    <div class='columns'>
      <%= check_box_tag 'category[]', 'shopping' %>
      <%= label_tag 'shopping', "Shopping" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'restaurants and bars' %>
      <%= label_tag 'restaurants and bars', "Restaurants and Bars" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'coffee and tea' %>
      <%= label_tag 'coffee and tea', "Coffee and Tea" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'arts and entertainment' %>
      <%= label_tag 'arts and entertainment', "Arts and Entertainment" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'services' %>
      <%= label_tag 'services', "Services" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'campus' %>
      <%= label_tag 'campus', "Campus" %>
    </div>

  <div class='right_column_events'>
    <div class='columns'>
      <%= check_box_tag 'category[]', 'beer wine and spirits' %>
      <%= label_tag 'beer wine and spirits', "Beer Wine and Spirits" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'sports and fitness' %>
      <%= label_tag 'sports and fitness', "Sports and Fitness" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'health and beauty' %>
      <%= label_tag 'health and beauty', "Health and Beauty" %>
    </div>

    <div class='columns'>
      <%= check_box_tag 'category[]', 'non-profit' %>
      <%= label_tag 'non-profit', "Non-Profit" %>
    </div> 
    
    <div class='columns'>
      <%= check_box_tag 'category[]', 'mmj' %>
      <%= label_tag 'mmj', "MMJ" %>
    </div> 
  </div>

<% end %>
  
