<header class='index'> 

  <div class="list_view_button tooltip" title="Switch to List View"><%= link_to 'Switch to List View', places_path_with_options(:view_type => 'list', :keep => [:keywords]), :class => 'list_view'%>
  </div>

  <div class="map_view_button tooltip" title="Switch to Map View"><%= link_to 'Switch to Map View', places_path_with_options(:view_type => 'map', :keep => [:keywords]), :class => 'map_view' %>
  </div>

  <div class="gallery_view_button tooltip" title="Switch to Gallery View"><%= link_to 'Switch to Gallery View', places_path_with_options(:view_type => nil, :keep => [:keywords]), :class => 'gallery_view' %>
  </div>

  <h1><%= index_view_title %></h1>
  <%options = params.reject{|key, value| ! %w[origin category keywords].include?(key) }%> 
  
  <div class="tiled-subheading">
    <% if user_signed_in? && options[:category] == 'suggested' %>
      <p class='tiled-subheading-subline'>
        Places in 
        <%= current_user.event_categories.join(', ') %>
      </p>
    <% end %> 
  </div>
</header>


  <ul class="organizations">
    <% @organizations.each do |organization| %>
      <%= render :partial => 'organization_listing', :locals => { :organization => organization } %>
    <% end %>
  </ul>

  <div class="clear"></div>

  <div class="tiled-pagination">
    <%= will_paginate @organizations %>
  </div>


