<li<%= report_grid_tracker(organization, :type => 'Tile') %>>
  <div class='image'>
    <%= link_to organization_path(organization.slug, organization.id) do %>
      <%= image_tag(organization.image.url(:medium)) %>
      <div class='description'><%= truncate organization.description, :length => 260 %></div>
    <% end %>
  </div>

  <%= link_to organization_path(organization.slug, organization.id) do %>
    <div class='detail'>
      <h1 class='truncate'><%= organization.name %></h1>

      <div class="organization-name truncate">
        @ <%= organization.location.name %>
      </div>
    </div>
  <% end %>
</li>


