<body>
  <div data-role='page'>
    <% if boulder_weekly? %>
      <div data-role='header' data-position='fixed' class='ui-bar-a-bw'> 
    <% else %>
      <div data-role='header' data-position='fixed'> 
    <% end %>
      <h1>
        <%= title %>
      </h1>
      </div>
          <div data-role='navbar' data-theme='a'>
            <ul>
              <li><%= link_to "Back", '/events/categories', "data-rel"=>"back" unless current_page? root_path %></li>
              <li><%= link_to "Home", '/events/categories', "data-role"=> "button" %></li>
              <li><%= link_to "Full Site", root_url(:mobile => 0), :class => "button", :rel => "external" %></li>
            </ul>
            </div>
    <div data-role='content'>
      <fieldset class='ui-grid-a'>
        <div class='ui-block-a' style='width: 120px; margin-right: 15px'>
          <%= image_tag(@organization.image.url(), :size => '120x120') %>
        </div>
        <div class='ui-block-b'>
          <h3 style='margin-top:0px'>
            <%= @organization.name %>
          </h3>
        </div>
      </div>
      <div data-role='collapsible' class='ui-block-a ui-btn' data-theme='e' style='width:100%'>
        <h3><center>Upcoming Events</center></h3>
          <%= render :partial => 'events/upcoming' %>
      </div>
      <div class='ui-block-a' style='width:100%'>
        <% if @organization.url.present? %>
        <%= link_to @organization.url, @organization.url, "rel"=>"external", "data-role"=>"button", "data-theme"=>"e" %>
        <% end %>
      </div>
        <div class='ui-block-a' style='width:100%'>
        <% if @organization.phone.present? %>
        <button class='submit' data-theme='e'>
          <%= number_to_phone @organization.phone.gsub(/\D/, ''), :area_code => true %>
          <% end %>
        </button>
      </div>
      <div class='ui-block-a ui-body-e' style='width:100%'>
        <%= link_to google_maps_image(@organization.location, :style => 'width: 100%'), gmaps_url_for(@organization.location), :target => '_blank', :class => 'map_link' %>
      </div>
      <div class='ui-block-a' style='width:100%; margin:10px 0 0 5px;'>
        <strong>
          About <%= @organization.name %>
        </strong>
        <br /><%= @organization.description %>
      </div>
  </div>
    </fieldset>
</body>
