<section class="organization"<%= report_grid_tracker(@organization, :type => 'Page') %>>
  <div class='title'>
    <div class="title-image">
      <%= image_tag "category-icons/50px/#{@organization.category.name.parameterize('_')}.png" %>
    </div>
    <div class="text">
      <h1><%= @organization.name %></h1>
      <h2>
        <%= link_to @organization.category, places_path(:origin => params[:origin], :category => @organization.category.name.parameterize('_')) %>
      </h2>
    </div>
  </div>

  <div class='image'>
    <%= image_tag(@organization.image.url(:large)) %>
  </div>

  <div class="detail">
    <dl>
      <dt>Description</dt>
      <dd><%= clean_format @organization.description %></dd>

      <% if @organization.phone.present? %>
        <dt>Phone</dt>
        <dd><%= number_to_phone @organization.phone.gsub(/\D/, ''), :area_code => true %></dd>
      <% end %>

      <% if @organization.url.present? %>
        <dt>Website</dt>
        <dd><%= link_to @organization.url, @organization.url, :target => 'blank' %></dd>
      <% end %>
    </dl>

    <div class="location">
      <div class="map">
        <%= link_to google_maps_image(@organization.location, :size => '363x130'), gmaps_url_for(@organization.location), :target => '_blank', :class => 'map_link' %>
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <div class='facebook-comments'>
    <%= facebook_comments(:url => organization_url(@organization.slug, @organization.id)) %>
  </div>
</section>

<div class="organization-events">
  <hr />
  <h2 class='big'>Upcoming Events</h2>
  <ul class="events">
    <% @organization.events.upcoming.limit(12).each do |event| %>
      <%= render :partial => '/events/event', :locals => { :event => event } %>
    <% end %>
  </ul>
  <div class="clear"></div>
</div>
