<!-- THIS IS FOR OUR BOULDER PARTNER!!! -->

<div class="logo-wrap"><a href="www.boulderweekly.com" class="logo" title="Lokalite Home">Boulder Weekly</a></div>

<div class="middle cf">
  
<nav class='nav secondary-nav'>
  <ul> 
    <li>
      <div class="user-menu">
        <div class="signin user-name">
          <%= link_to 'Have an account? Sign In', '#', :class => 'signin' %>
          <%= link_to raw("&#9662;"), '#', :class => 'arrow' %>
        </div>
        <ul class="dropdown-menu sign-in" style='margin-left: 0px'>
          <li>  
            <div class="divider"></div>
              <%= link_to "Forgot your password?", '/users/password/new', :id => "forgot_password" %>
              <%= link_to "Need to signup?", '/landing', :id => "forgot_password" %>
              <%= link_to "Local business?", '/business', :id => "forgot_password" %>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
<%
    if params[:controller] == 'places'
      active_tab = 'places'
    else
      active_tab = 'events'
    end
  -%>
  <% unless ['/users', '/business', '/static', '/my', '/landing'].any? {|path| fullpath.start_with?(path)} || fullpath == '/' %>
    <%= render :partial => '/shared/search', :locals => {:active_tab => active_tab} %>
  <% end %> 


