<!-- THIS IS FOR OUR BOULDER PARTNER!!! -->

<div class="middle cf">

<%
    if params[:controller] == 'places'
      active_tab = 'places'
    else
      active_tab = 'events'
    end
  -%>
  <% unless ['/users', '/business', '/static', '/my', '/landing'].any? {|path| fullpath.start_with?(path)} || fullpath == '/' %>
    <%= render :partial => '/shared/search', :locals => {:active_tab => active_tab} %>
  <% end %> 
  
<nav class='nav secondary-nav'>
  <ul> 
    <li>
      <div class="user-menu" style="margin-left: 15px">
        <div class="signin">
          <%= link_to "HOME", 'http://www.boulderweekly.com/', :class => 'signin' %>
        </div>
      </div>
      <div class="user-menu">
        <div class="signin menu0">
          <%= link_to 'NEWS', 'http://www.boulderweekly.com/articles.sec-90-1-news.html', :class => 'signin' %>
        </div>
        <ul class="dd-menu0 dropdown-menu menu0 ddmboulder0">
          <li>   
            <%= link_to "LOCAL NEWS", 'http://www.boulderweekly.com/articles.sec-66-1-news.html' %>
            <%= link_to "NATIONAL TODAY", 'http://www.boulderweekly.com/articles.sec-103-1-national-today.html' %>
            <%= link_to "TECH TODAY", 'http://www.boulderweekly.com/articles.sec-109-1-tech-today.html' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu1">
          <%= link_to 'OPINION', 'http://www.boulderweekly.com/articles.sec-91-1-views.html', :class => 'signin' %>
        </div>
        <ul class="dd-menu1 dropdown-menu menu1 ddmboulder1">
          <li>   
            <%= link_to "LETTERS", 'http://www.boulderweekly.com/articles.sec-64-1-letters.html' %>
            <%= link_to "DANISH PLAN", 'http://www.boulderweekly.com/articles.sec-54-1-danish-plan.html' %>
            <%= link_to "IN CASE YOU MISSED IT", 'http://www.boulderweekly.com/articles.sec-62-1-in-case-you-missed-it.html' %>
            <%= link_to "HIGHROAD", 'http://www.boulderweekly.com/articles.sec-81-1-the-highroad.html' %>
            <%= link_to "DYERTIMES", 'http://www.boulderweekly.com/articles.sec-146-1-dyertimes.html' %>
            <%= link_to "COLUMNS", 'http://www.boulderweekly.com/articles.sec-71-1-perspectives.html' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin">
          <%= link_to "WINTER SCENE", 'http://www.boulderweekly.com/articles.sec-135-1-winter-scene.html', :class => 'signin' %>
        </div>
      </div>
      <div class="user-menu">
        <div class="signin menu5">
          <%= link_to 'BOULDERGANIC', 'http://www.boulderweekly.com/articles.sec-154-1-boulderganic.html', :class => 'signin' %>
        </div>
        <ul class="dd-menu5 dropdown-menu menu5 ddmboulder5">
          <li>   
            <%= link_to "BOULDERGANIC", 'http://www.boulderweekly.com/articles.sec-127-1-boulderganic.html' %>
            <%= link_to "ECO-BRIEFS", 'http://www.boulderweekly.com/articles.sec-156-1-eco-briefs.html' %>
            <%= link_to "SPECIAL EDITIONS", 'http://www.boulderweekly.com/articles.sec-155-1-special-editions.html' %>
            <%= link_to "ENVIRONMENT TODAY", 'http://www.boulderweekly.com/articles.sec-157-1-outdoors-today.html' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu6">
          <%= link_to 'ADVENTURE', 'http://www.boulderweekly.com/articles.sec-140-1-adventure.html', :class => 'signin' %>
        </div>
        <ul class="dd-menu6 dropdown-menu menu6 ddmboulder6">
          <li>   
            <%= link_to "ADVENTURE", 'http://www.boulderweekly.com/articles.sec-57-1-adventure.html' %>
            <%= link_to "CALENDAR", 'http://www.boulderweekly.com/articles.sec-158-1-adventure-calendar.html' %>
            <%= link_to "OUTDOORS TOUR", 'http://www.boulderweekly.com/blogs-1-1-1-50.html' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu2">
          <%= link_to 'ENTERTAINMENT', 'http://www.boulderweekly.com/flex-158-buzz.html', :class => 'signin' %>
        </div>
        <ul class="dd-menu2 dropdown-menu menu2 ddmboulder2">
          <li>   
            <%= link_to "MUSIC", 'http://www.boulderweekly.com/articles.sec-159-1-music.html' %>
            <%= link_to "ARTS", 'http://www.boulderweekly.com/articles.sec-47-1-arts.html' %>
            <%= link_to "BOOKS", 'http://www.boulderweekly.com/articles.sec-163-1-books.html' %>
            <%= link_to "STAGE", 'http://www.boulderweekly.com/articles.sec-162-1-stage.html' %>
            <%= link_to "SCREEN", 'http://www.boulderweekly.com/articles.sec-78-1-screen.html' %>
            <%= link_to "MOVIE TIMES", 'http://www.boulderweekly.com/movie-times.html' %>
            <%= link_to "BUZZ BLOG", 'http://www.boulderweekly.com/blogs-1-1-1-50.html' %>
          </li>
        </ul>
      </div> 
      <div class="user-menu">
        <div class="signin menu4">
          <%= link_to 'CUISINE', 'http://www.boulderweekly.com/flex-165-cuisine.html', :class => 'signin' %>
        </div>
        <ul class="dd-menu4 dropdown-menu menu4 ddmboulder4">
          <li>   
            <%= link_to "REVIEWS", 'http://www.boulderweekly.com/articles.sec-74-1-restaurant-review.html' %>
            <%= link_to "FEATURES", 'http://www.boulderweekly.com/articles.sec-53-1-cuisine.html' %>
            <%= link_to "TIDBITES", 'http://www.boulderweekly.com/articles.sec-107-1-tidbites.html' %>
            <%= link_to "PLACES TO EAT", 'http://www.boulderweekly.com/places' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu7">
          <%= link_to 'EXTRA', 'http://www.boulderweekly.com/articles.sec-48-1-astrology.html', :class => 'signin' %>
        </div>
        <ul class="dd-menu7 dropdown-menu menu7 ddmboulder7">
          <li>   
            <%= link_to "ASTROLOGY", 'http://www.boulderweekly.com/articles.sec-48-1-astrology.html' %>
            <%= link_to "VIDEO", 'http://www.boulderweekly.com/articles.sec-111-1-video.html' %>
            <%= link_to "COUPON PAGE", 'http://boulderweekly.com/file-14-.pdf' %>
            <%= link_to "NEWSLETTER SIGNUP", 'http://visitor.r20.constantcontact.com/manage/optin/ea?v=001l6dFchTjv8qTtUABP_pfii1lh2wx1bbGdJj-Jf0U_Xvs3hMyrqJoAADt5CupfGcFgiIZbnX1rNOnF8k02eaKFg%3D%3D' %>
            <%= link_to "COMPARE AND BUY TEXTBOOKS", 'http://boulderweekly.com/textbooks' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu10">
          <%= link_to 'ARCHIVE', 'http://npaper-wehaa.com/boulder-weekly/#2009/12/24/s1/?s=issues', :class => 'signin' %>
        </div>
        <ul class="dd-menu10 dropdown-menu menu10 ddmboulder10">
          <li>   
            <%= link_to "OCTOBER 2009 TO PRESENT", 'http://npaper-wehaa.com/boulder-weekly/#2009/12/24/s1/?s=issues' %>
            <%= link_to "PRE-OCTOBER 2009", 'http://boulderweekly.com/archives/generalinformation/archives.html' %>
            <%= link_to "BLOGS", 'http://www.boulderweekly.com/blogs' %>
            <%= link_to "SPECIAL EDITIONS", 'http://www.boulderweekly.com/flex-175-special-editions.html' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu11">
          <%= link_to 'INFO/ADS', 'http://www.boulderweekly.com/flex-150-contact-us.html', :class => 'signin' %>
        </div>
        <ul class="dd-menu11 dropdown-menu menu11 ddmboulder11">
          <li>   
            <%= link_to "ABOUT US", 'http://www.boulderweekly.com/article-68-about-us.html' %>
            <%= link_to "CONTACT US/CIRCULATION MAP", 'http://www.boulderweekly.com/flex-150-contact-us.html' %>
            <%= link_to "ADVERTISING INFO", 'http://www.boulderweekly.com/flex-157-advertising-info.html' %>
            <%= link_to "BOULDER MARKETPLACE", 'https://class.avenews.com/index.cfm?referrer=http://www.boulderweekly.com' %>
            <%= link_to "JOBS AVAILABLE", 'http://boulderweekly.com/article-93-jobs-available.html' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu3">
          <%= link_to 'EVENTS', 'http://events.boulderweekly.com/events/boulder-colorado/category/featured', :class => 'signin' %>
        </div>
        <ul class="dd-menu3 dropdown-menu menu3 ddmboulder3">
          <li>   
            <%= link_to 'ADD EVENT', 'http://lokalite.com/my/events/new' %>
            <%= link_to "EVENTS", events_path(:origin => params[:origin], :category => 'featured') %>
            <%= link_to "PLACES", places_path(:origin => params[:origin]) %>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>

<!-- <nav class='nav secondary-nav'>
  <ul> 
    <% if user_signed_in? %>
      <li>
        <div class="back">
          <%= link_to raw('&larr; Back to Boulder Weekly'), "http://www.boulderweekly.com", :class => "link" %>
        </div>
        <div class="user-menu">
          <% if user_sudoing? %>
            <%= link_to "Acting like", datebook_path, :class => 'acting-like' %>
          <% end %>
          <%= link_to datebook_path, :class => 'user-link profile' do %>
            <%= image_tag current_user.image_url, :size => '25x25', :class => 'user-img' %>
            <%= link_to current_user.full_name, datebook_path, :class => 'user-link' %>
          <% end %>
        </div>
        <div class="user-menu">
          <div class="vert-divider"></div>
          <%= link_to "Home", events_path(:origin => params[:origin], :category => 'featured'), :class => 'user-link' %>
        </div>
        <div class="user-menu" style="position: relative; float:right">
          <div class="user-name">
            <div class="vert-divider"></div>
            <%= link_to raw("&#9662;"), '#', :class => 'user-link' %>
            </div>
            <ul class="dropdown-menu user-name">
              <li>
                <div class="divider"></div>
                <% if current_user.admin? or current_user.event_admin? %>
                <% else %>
                  <%#= link_to "Create Event", new_my_event_path %>
                  <% if current_user.organizations.size > 1 %>
                    <%= link_to "My Businesses", my_organizations_path %>
                  <% elsif current_user.organizations.any? %>
                    <%= link_to('Edit My Events', my_organization_path(current_user.organizations.first)) %>
                  <% end %> 
                <% end %>

                <% if current_user.event_admin? %>
                  <%= link_to "All Businesses", my_organizations_path(:all => true) %>
                  <%= link_to "Manage Featured Events", manage_featured_events_path %>
                  <%#= link_to "Approve New Events", approve_events_path %>
                <% end %>

                <% if current_user.admin? %>
                  <%= link_to 'User List', admin_path %>
                <% end %>
                <%= link_to "Profile Settings", edit_profile_path %>

                <% if user_sudoing? %>
                  <%= link_to 'Back to your user', :controller => 'admin/users', :action => :unsudo %>
                <% end %>
                  <%= link_to 'Logout', destroy_user_session_path, :onclick => 'FB.logout();' %>
              </li>
            </ul>
         </div>
       </li>
    <% else %>
      <li>
        <div class="back">
          <%= link_to raw('&larr; Back to Boulder Weekly'), "http://www.boulderweekly.com", :class => "link" %>
        </div>
        <div class="user-menu">
        <div class="signin user-name">
          <%= link_to 'Have an account? Sign In', '#', :class => 'signin' %>
          <%= link_to raw("&#9662;"), '#', :class => 'arrow' %>
        </div>
        <ul class="dropdown-menu sign-in user-name" style='margin-left: 193px'>
          <li>
            <div class="divider"></div>
            <div id="facebook">
              <fb:login-button size="large" onlogin="afterFacebookSignIn()" style="margin-right: 4px" alt="Connect using Facebook">Connect using Facebook</fb:login-button>
            </div>
            <%= form_for(:user, :url => session_path(:user)) do |f| %>
              <div></br>
                <%= f.email_field :email, :placeholder => "Email", :class => "signin-field" %>
              </div>
              <div></br>
                <%= f.password_field :password, :placeholder => "Password", :class => "signin-field" %>
              </div></br>
                <div class="remember">
                <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                </div>
                <%= f.submit "Sign in", :class => "btn primary btn-float-right" %>
              </br></br>
              <div class="divider"></div>
              <%= link_to "Forgot your password?", '/users/password/new', :id => "forgot_password" %>
              <%= link_to "Need to signup?", '/landing', :id => "forgot_password" %> 
            <% end %>
          </li>
        </ul>
      </div>
      </li>
    <% end %>
  </ul>
</nav> -->

