<!-- THIS IS FOR OUR BOULDER PARTNER!!! -->

<div class="logo-wrap"><a href="www.boulderweekly.com" class="logo" title="Lokalite Home">Boulder Weekly</a></div>

<div class="middle cf">
  
<nav class='nav secondary-nav'>
  <ul> 
    <li>
      <div class="user-menu" style="margin-left: 15px">
        <div class="signin menu0">
          <%= link_to 'NEWS', 'http://www.boulderweekly.com/articles.sec-90-1-news.html', :class => 'signin' %>
        </div>
        <ul class="dd-menu0 dropdown-menu menu0" style='margin-left: 15px'>
          <li>   
            <%= link_to "BOULDERGANIC", 'http://www.boulderweekly.com/articles.sec-127-1-boulderganic.html' %>
            <%= link_to "COVER STORY", 'http://www.boulderweekly.com/articles.sec-52-1-cover-story.html' %>
            <%= link_to "LOCAL NEWS", 'http://www.boulderweekly.com/articles.sec-66-1-news.html' %>
            <%= link_to "POLICE BLOTTER", 'http://www.boulderweekly.com/articles.sec-121-1-police-blotter.html' %>
            <%= link_to "BRIEFS", 'http://www.boulderweekly.com/articles.sec-67-1-news-briefs.html' %>
            <%= link_to "POLITICS", 'http://www.boulderweekly.com/articles.sec-103-1-national.html' %>
            <%= link_to "ENVIRONMENT", 'http://www.boulderweekly.com/articles.sec-144-1-enviroment.html' %>
            <%= link_to "TECH", 'http://www.boulderweekly.com/articles.sec-109-1-tech.html' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu1">
          <%= link_to 'OPINION', 'http://www.boulderweekly.com/articles.sec-91-1-views.html', :class => 'signin' %>
        </div>
        <ul class="dd-menu1 dropdown-menu menu1" style='margin-left: 74px'>
          <li>   
            <%= link_to "PERSPECTIVES", 'http://www.boulderweekly.com/articles.sec-71-1-perspectives.html' %>
            <%= link_to "LETTERS", 'http://www.boulderweekly.com/articles.sec-64-1-letters.html' %>
            <%= link_to "UNCENSORED", 'http://www.boulderweekly.com/articles.sec-82-1-uncensored.html' %>
            <%= link_to "IN CASE YOU MISSED IT", 'http://www.boulderweekly.com/articles.sec-62-1-in-case-you-missed-it.html' %>
            <%= link_to "DODGE'S BULLETS", 'http://www.boulderweekly.com/articles.sec-119-1-dodges-bullets.html' %>
            <%= link_to "HIGHROAD", 'http://www.boulderweekly.com/articles.sec-81-1-the-highroad.html' %>
            <%= link_to "DANISH PLAN", 'http://www.boulderweekly.com/articles.sec-54-1-danish-plan.html' %>
            <%= link_to "LAB NOTES", 'http://www.boulderweekly.com/articles.sec-137-1-lab-notes.html' %>
            <%= link_to "STEW'S VIEWS", 'http://www.boulderweekly.com/articles.sec-79-1-stews-views.html' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu2">
          <%= link_to 'ENTERTAINMENT', 'http://www.boulderweekly.com/flex-158-buzz.html', :class => 'signin' %>
        </div>
        <ul class="dd-menu2 dropdown-menu menu2" style='margin-left: 149px'>
          <li>   
            <%= link_to "FEATURES", 'http://www.boulderweekly.com/articles.sec-49-1-buzz.html' %>
            <%= link_to "OVERTONES", 'http://www.boulderweekly.com/articles.sec-69-1-overtones.html' %>
            <%= link_to "ARTS & CULTURE", 'http://www.boulderweekly.com/articles.sec-47-1-arts-&-culture.html' %>
            <%= link_to "BUZZ BLOG", 'http://www.boulderweekly.com/blogs-1-1-1-50.html' %>
            <%= link_to "REVIEWS", 'http://www.boulderweekly.com/articles.sec-106-1-reviews.html' %>
            <%= link_to "ENTERTAINMENT NEWS", 'http://www.boulderweekly.com/articles.sec-120-1-entertainment.html' %>
            <%= link_to "FICTION", 'http://www.boulderweekly.com/articles.sec-131-1-fiction.html' %>
            <%= link_to "MOVIE REVIEWS", 'http://www.boulderweekly.com/articles.sec-93-1-movies.html' %>
            <%= link_to "MOVIE TIMES", 'http://www.boulderweekly.com/movie-times.html' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu3">
          <%= link_to 'EVENTS', 'http://boulderweekly.lokalite.com/events/boulder-colorado/category/featured', :class => 'signin' %>
        </div>
        <ul class="dd-menu3 dropdown-menu menu3" style='margin-left: 280px'>
          <li>   
            <%= link_to "EVENTS", events_path(:origin => params[:origin], :category => 'featured') %>
            <%= link_to "PLACES", places_path(:origin => params[:origin]) %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu4">
          <%= link_to 'CUISINE', 'http://www.boulderweekly.com/flex-165-cuisine.html', :class => 'signin' %>
        </div>
        <ul class="dd-menu4 dropdown-menu menu4" style='margin-left: 353px'>
          <li>   
            <%= link_to "REVIEWS", 'http://www.boulderweekly.com/articles.sec-74-1-restaurant-review.html' %>
            <%= link_to "FEATURES", 'http://www.boulderweekly.com/articles.sec-53-1-cuisine.html' %>
            <%= link_to "DESSERT DIVA", 'http://www.boulderweekly.com/articles.sec-100-1-dessert-diva.html' %>
            <%= link_to "TIDBITES", 'http://www.boulderweekly.com/articles.sec-107-1-tidbites.html' %>
            <%= link_to "PLACES TO EAT", 'http://www.boulderweekly.com/places' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu5">
          <%= link_to 'HEALTH', 'http://www.boulderweekly.com/articles.sec-115-1-dear-pharmacist.html', :class => 'signin' %>
        </div>
        <ul class="dd-menu5 dropdown-menu menu5" style='margin-left: 426px'>
          <li>   
            <%= link_to "HEALTH NEWS", 'http://www.boulderweekly.com/articles.sec-124-1-health.html' %>
            <%= link_to "SOPHISTICATED SEX", 'http://www.boulderweekly.com/articles.sec-123-1-sophisticated-sex.html' %>
            <%= link_to "DEAR PHARMACIST", 'http://www.boulderweekly.com/articles.sec-115-1-dear-pharmacist.html' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu6">
          <%= link_to 'BLOGS', 'http://www.boulderweekly.com/blogs', :class => 'signin' %>
        </div>
        <ul class="dd-menu6 dropdown-menu menu6" style='margin-left: 497px'>
          <li>   
            <%= link_to "BEST OF BOULDER", 'http://www.boulderweekly.com/blogs-1-1-1-51.html' %>
            <%= link_to "OFF THE FLATIRON", 'http://www.boulderweekly.com/blogs-1-1-1-55.html' %>
            <%= link_to "BUZZ", 'http://www.boulderweekly.com/blogs-1-1-1-50.html' %>
            <%= link_to "FRESH HEIRESS", 'http://www.boulderweekly.com/blogs-1-1-1-52.html' %>
            <%= link_to "DODGE'S BULLETS ONLINE", 'http://www.boulderweekly.com/blogs-1-1-1-53.html' %>
            <%= link_to "STEW'S VIEWS", 'http://www.boulderweekly.com/blogs-1-1-1-54.html' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu7">
          <%= link_to 'MORE', '#', :class => 'signin' %>
          <%= link_to raw("&#9662;"), '#', :class => 'arrow' %>
        </div>
        <ul class="dd-menu7 dropdown-menu menu7" style='margin-left: 404px'>
          <li>   
            <%= link_to 'EXTRAS', 'http://www.boulderweekly.com/articles.sec-48-1-astrology.html' %>
            <%= link_to "SPECIAL EDITIONS", 'http://www.boulderweekly.com/flex-175-special-editions.html' %>
            <%= link_to "ARCHIVE", 'http://npaper-wehaa.com/boulder-weekly/#2009/12/24/s1/?s=issues' %>
            <%= link_to "DIGITAL EDITION", 'http://npaper-wehaa.com/boulder-weekly/2012/04/12/#?s=issues' %>
            <%= link_to "INFO/ADVERTISING", 'http://www.boulderweekly.com/flex-157-advertising-info.html' %>
            <%= link_to "CONTACT US", 'http://www.boulderweekly.com/flex-150-contact-us.html' %>
          </li>
        </ul>
      </div>
      <div class="user-menu">
        <div class="signin menu8">
          <%= link_to 'ADD EVENT', 'http://lokalite.com/my/events/new', :class => 'signin' %>
        </div>
    </li>
  </ul>
</nav>
<%
    if params[:controller] == 'places'
      active_tab = 'places'
    else
      active_tab = 'events'
    end
  -%>
  <% unless ['/users', '/business', '/static', '/my', '/landing'].any? {|path| fullpath.start_with?(path)} || fullpath == '/' %>
    <%= render :partial => '/shared/search', :locals => {:active_tab => active_tab} %>
  <% end %> 


