<% unless ['/login', '/signup', '/business', '/static', '/my'].any? {|path| fullpath.start_with?(path)} || fullpath == '/' %>

<% [
    {:title => 'Top Featured Events', :events => Event.featured_on(Time.zone.now.to_date), :category => 'featured'},
   ].each do |item| -%>
   <h3><%= link_to item[:title], events_path(:origin => params[:origin], :category => item[:category]) %></h3>
    <ul>
      <% for event in item[:events].limit(6).includes(:image, :organization) -%>
        <li>
          <%= link_to event_path(event.slug, event.id) do %>
            <div class="image">
              <%= image_tag(event.image.url(:thumb)) %>
            </div>
            <div class="details" style="width: 200px">
              <div class='truncate'>
                <%= event.name %>
              </div>
              <div class="organization-name truncate">
                <%= event.location.name %>
              </div>
            </div>
          <% end %>
        </li>
      <% end -%>
    </ul>
    <hr />
  <% end -%>

<a class="twitter-timeline" href="https://twitter.com/BoulderWeeklyAE" data-widget-id="265235917848059904">Tweets by @BoulderWeeklyAE</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
 
<h3 style="padding: 10px 80px 0">Follow Us</h3>
    <ul class="soc-links cf" style="padding: 0 31px">
      <li>
        <a href="https://www.facebook.com/boulderweeklymedia" target="_blank">
          <%= image_tag 'social-icons/Facebook_Icon.png' %>
        </a>
      </li>
      <li>
        <a href="http://www.twitter.com/boulderweeklyae" target="_blank">
          <%= image_tag 'social-icons/Twitter_Icon.png' %>
        </a>
      </li>
      <li>
        <a href="http://boulderweekly.com/files/home.xml" target="_blank">
          <%= image_tag 'rss.png' %>
        </a>
      </li>
    </ul> 

  <%= link_to App.url, :target => '_blank' do %>
    <%= image_tag 'powered_by.png', :style => "padding: 10px 35px" %>
  <% end %>
<% end -%>
