<nav>
  <ul>
    <% if logged_in? and current_user.admin? %>
      <li>
        <%= link_to 'Admin', admin_path %>
      </li>
    <% end %>
    <li>
      <%= link_to 'About', static_path(:about) %>
    </li>
    <li>
      <%= link_to 'Terms', static_path(:terms_of_service) %>
    </li>
    <li>
      <%= link_to 'Contact', static_path(:contact) %>
    </li>
    <li>
      <%= link_to 'Locations', static_path(:locations) %>
    </li>
    <li>
      <%= link_to 'Privacy Policy', static_path(:privacy_policy) %>
    </li>
    <li>
      <%= link_to 'Movie', static_path(:movie, :layout => :facebox), :id => :movie, :rel => :facebox %>
    </li>
    <li>
      <%= link_to 'Business', business_signup_path %>
    </li>
  </ul>
</nav>


<div class='copyright'>Copyright &copy; <%= Time.now.year %> lokalite.com</div>
