<nav>
  <ul>
    <% if user_signed_in? and current_user.admin? %>
      <li>
        <%= link_to 'Admin', admin_path %>
      </li>
    <% end %>
    <li>
      <%= link_to 'About', static_path(:about) %>
    </li>
<!--    <li>
      <%= link_to 'Advertise', static_path(:advertise) %>
    </li> --!>
    <li>
      <%= link_to 'Contact', static_path(:contact) %>
    </li>
    <li>
      <%= link_to 'Terms', static_path(:terms_of_service) %>
    </li>
    <li>
      <%= link_to 'Privacy Policy', static_path(:privacy_policy) %>
    </li>
    <% if false %>
      <li>
        <%= link_to 'Movie', static_path(:movie), :id => :movie %>
      </li>
    <% end %>
    <li>
      <%= link_to 'Business', business_promo_path %>
    </li>
    <li>
      <%= link_to 'Press Coverage', static_path(:press_coverage) %>
    </li>
   <!-- <li>
      <% if mobile_device? %> 
        <%= link_to 'Full Site', :mobile => 0 %>
        <% else %> 
        <%= link_to 'Mobile Site', :mobile => 1 %>
        <% end %>
      </li> -->
    <li>
        <%= link_to 'Site Map', static_path(:sitemap) %>
    </li>
  </ul>
</nav>


<div class='copyright'>Copyright &copy; <%= Time.now.year %> lokalite.com</div>
