<div class="logo-wrap"><a href="/" class="logo" title="Lokalite Home">lokalite</a></div>
<div class="middle cf">
  <%
    if params[:controller] == 'places'
      active_tab = 'places'
    else
      active_tab = 'events'
    end
  -%>
  <% unless ['/users', '/business', '/static', '/my', '/landing'].any? {|path| fullpath.start_with?(path)} || fullpath == '/' %>
    <%= render :partial => '/shared/search', :locals => {:active_tab => active_tab} %>
  <% end %>
  <div class="ext">
    <% if user_signed_in? %>
      <!-- Linking to DATEBOOK for NEW PLAN creation -->
      <%= link_to 'Bookmarks', datebook_path, :class => 'btn primary' %>
      <% if current_user.organizations.any? or user_sudoing? %>
        <%= link_to "Create Event", new_my_event_path, :class => 'btn primary' %>
      <% end %>
    <% end %>
  </div>
</div>

<nav class='nav secondary-nav'>
  <ul>
    <% if user_signed_in? %>
      <li>
        <div class="user-menu user-name">
          <%= image_tag current_user.image_url, :size => '25x25', :class => 'user-img' %>
          <% if user_sudoing? %>
            <span class='acting-like'>Acting like</span>
          <% end %>
          <%= link_to current_user.full_name, '#', :class => 'user-link', :style => 'margin-left: 10px' %>
          <%= link_to raw("&#9662;"), '#', :class => 'user-link' %>
        </div>
        <ul class="dropdown-menu">
          <div class="divider"></div>
          <li>
            <%= link_to 'Bookmarks', datebook_path %>
          </li>
          <% if current_user.organizations.size > 1 %>
            <li>
              <%= link_to "My Businesses", my_organizations_path %>
            </li>
          <% elsif current_user.organizations.any? %>
            <li>
              <%= link_to('Edit My Events', my_organization_path(current_user.organizations.first)) %>
            </li>
          <% end %>
          <% if current_user.organizations.any? or user_sudoing? %>
            <li>
              <%= link_to "Create Event", new_my_event_path %>
            </li>
          <% end %>
          <li>
            <%= link_to "Profile Settings", edit_profile_path %>
          </li>
          <% if real_user_is_admin? %>
            <li>
              <%= link_to "Manage Featured Events", manage_featured_events_path %>
            </li>
          <% end %>
          <li>
            <% if user_sudoing? %>
              <%= link_to 'Back to your user', :controller => 'admin/users', :action => :unsudo %>
            <% else %>
              <%= link_to 'Logout', destroy_user_session_path, :onclick => 'FB.logout();' %>
            <% end %>
          </li>
        </ul>
      </li>
    <% else %>
      <li>
        <div class="signin user-name user-menu">
          <%= link_to 'Have an account? Sign In', '#', :class => 'signin' %>
          <%= link_to raw("&#9662;"), '#', :class => 'arrow' %>
        </div>
        <ul class="dropdown-menu">
          <li>
            <div class="divider"></div>
            <div id="facebook">
              <fb:login-button onlogin="afterFacebookSignIn()">Connect with Facebook</fb:login-button> 
            </div>
            <%= form_for (:user, :url => session_path(:user)) do |f| %>
              <div></br>
                <%= f.email_field :email, :placeholder => "Email", :class => "signin-field" %>
              </div>
              <div></br>
                <%= f.password_field :password, :placeholder => "Password", :class => "signin-field" %>
              </div></br>
                <%= f.submit "Sign in", :class => "btn primary btn-float-right" %>
              </br></br>
              <div class="divider"></div>
              <%= link_to "Forgot your password?", '/users/password/new', :id => "forgot_password" %>
              <%= link_to "Need to signup?", '/landing', :id => "forgot_password" %>
              <%= link_to "Local business?", '/business', :id => "forgot_password" %>
            <% end %>
          </li>
        </ul>
      </li>
    <% end %>
  </ul>
</nav>

