<div class="logo-wrap"><a href="/" class="logo" title="Lokalite Home">lokalite</a></div>
<div class="middle cf">
  <%
    if params[:controller] == 'places'
      active_tab = 'places'
    else
      active_tab = 'events'
    end
  -%>
<% unless ['/users', '/business', '/static', '/my'].any? {|path| fullpath.start_with?(path)} || fullpath == '/' %>
  <%= render :partial => '/shared/search', :locals => {:active_tab => active_tab} %>
<% end %>
  <div class="ext">
<% if user_signed_in? %>
  <!-- Linking to DATEBOOK for NEW PLAN creation -->
    <%= link_to 'New Plan', datebook_path, :class => 'btn primary' %>
    <% if current_user.organizations.any? %>
      <% if user_sudoing? %>
      <%= link_to "Create Event", new_my_event_path, :class => 'btn primary' %>
      <% end %>
    <% end %>
<% end %>
  </div>
</div>

<nav class='nav secondary-nav'>
  <ul>
    <% if user_signed_in? %>
      <li class="cf">
        <div class="user-li cf">
        <% if user_sudoing? %>
          Acting like <%= current_user.email %>.
          <%= link_to '[x]', :controller => 'admin/users', :action => :unsudo %>
        <% else %>
          <% if current_user.image_url.present? %>
          <%= image_tag current_user.image_url, :size => '25x25', :class => 'user-img' %>
          <% end %>
          <%= link_to raw("#{current_user.full_name} &nbsp;&#9662;"), '#', :class => 'user-link' %>
        </div><!-- end user-li -->
        <% end %>
        <ul class="dropdown-menu">
          <li>
            <%= link_to 'My Datebook', datebook_path %>
          </li>
          <% if current_user.organizations.size > 1 %>
            <li>
              <%= link_to "My Businesses", my_organizations_path %>
            </li>
          <% elsif current_user.organizations.any? %>
            <li>
              <%= link_to('Edit My Events', my_organization_path(current_user.organizations.first)) %>
            </li>
          <% end %>
          <li>
            <%= link_to "Settings", edit_profile_path %>
          </li>
          <li>
          <%= link_to 'Logout', '#', :onclick => 'FB.logout(); return false;', :method => :delete %>
          </li>
        </ul>
      </li>
    <% else %>
      <% if false %>
        <li>
        <div class="user-li cf">
          <%= link_to 'Sign Up', new_user_registration_path, :class => 'user-link' %>
        </div>
        </li>
      <% end %>
      <li>
        <div class="user-li cf">
        <%= link_to 'Sign In', new_user_session_path, :class => 'user-link' %>
        </div>
      </li>
      <% if false %>
        <li>
        <div class="user-li cf">
          <%= link_to 'Contest Registration', static_path(:contest_registration), :class => 'btn primary' %>
        </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</nav>

