<a href="/" class="logo" title="Lokalite Home">lokalite</a>

<nav class='user-navigation'>
  <ul>
    <% if logged_in? %>
      <% if user_sudoing? %>
        <li>
          Acting like <%= effective_user.email %>.
          <%= link_to '[x]', :controller => 'admin/users', :action => :unsudo %>
        </li>
      <% end %>
      <li>
        <%= link_to "Account", '#my_account' %>
        <ul>
          <% if current_user.organizations.size > 1 %>
            <li>
              <%= link_to "My Businesses", my_organizations_path %>
            </li>
          <% elsif current_user.organizations.any? %>
            <li>
              <%= link_to('My Business', my_organization_path(current_user.organizations.first)) %>
            </li>
          <% end %>
          <li>
            <%= link_to "My Profile", edit_profile_path %>
          </li>
          <li>
            <%= link_to 'Logout', logout_path %>
          </li>
        </ul>
      </li>
      <% if current_user.organizations.any? %>
        <li>
          <%= link_to "Create Event", new_my_event_path, :class => 'create-event' %>
        </li>
      <% end %>
    <% else %>
      <% if false %>
        <li>
          <%= link_to 'Sign Up', signup_path %>
        </li>
      <% end %>
      <li>
        <%= link_to 'Login', login_path %>
      </li>
    <% end %>
  </ul>
</nav>

