<% unless ['/login', '/signup', '/business', '/static'].any? {|path| fullpath.start_with?(path)} || fullpath == '/' %>
  <%#= search_form %>

  <% 
    if params[:controller] == 'directory'
      active_tab = 'directory'
    else
      active_tab = 'events'
    end
  -%>

  <nav>
    <h3>Event Categories</h3>
    <ul class='categories'>
      <%
         EVENT_CATEGORIES.dup.unshift('All', 'Featured').each do |category|
         activated = Slug.for(category) == params[:category]
      %>
        <li class="<%= category.parameterize %>">
          <%= link_to(category, browse_events_path(:category => category), :class => (activated ? 'activated' : '')) %>
        </li>
      <% end %>
    </ul>

    <br />

    <h3>Business Categories</h3>
    <ul class='categories'>
      <%
         ORGANIZATION_CATEGORIES.dup.unshift('All', 'Featured').each do |category|
         activated = category.parameterize == params[:category]
      %>
        <li class="<%= category.parameterize %>">
          <%= link_to(category, browse_directory_path(:category => category), :class => (activated ? 'activated' : '')) %>
        </li>
      <% end %>
    </ul>

    <% if false && active_tab == 'events' %>
      <h3>Dates</h3>

      <ul>
        <% ['Today', 'Tomorrow', 'This Week', 'This Weekend', 'This Month', 'This Year'].each do |date|
          activated = ((Slug.for(date) == params[:date]) || (date=='Today' && params[:date].blank?))
        %>
          <li>
            <%= link_to(date, browse_events_path(:date => date), :class => (activated ? 'activated' : '')) %>
          </li>
        <% end %>
      </ul>
    <% end %>

  </nav>

<% end %>

