<% unless ['/login', '/signup', '/business', '/static', '/my'].any? {|path| fullpath.start_with?(path)} || fullpath == '/' %>
  <%#= search_form %>

  <%
    if params[:controller] == 'directory'
      active_tab = 'directory'
    else
      active_tab = 'events'
    end
  -%>

<nav>
  <div id="category-tabs">
    <ul>
      <li><a href="#event-categories">Events</a></li>
      <li><a href="#places-categories">Places</a></li>
    </ul>

    <div id="event-categories">

      <%= render :partial => '/static/search' %>

      <ul class='categories'>
        <%
          EVENT_CATEGORIES.dup.unshift('All', 'Featured').each do |category|
          classes = [category.slug]
          classes << 'active' if classes.first == params[:category]
        %>
          <li class="<%= classes.join(' ') %>">
            <%
              options = {:origin => params[:origin]}
              options[:category] = category.slug unless category == 'All'
            %>
            <%= link_to(category, events_path(options)) %>
          </li>
        <% end %>
      </ul>
    </div>

    <div id="places-categories">
      <ul class='categories'>
        <%
          ORGANIZATION_CATEGORIES.dup.unshift('All', 'Featured').each do |category|
          classes = [category.parameterize('_')]
          classes << 'active' if classes.first == params[:category]
        %>
          <li class="<%= classes.join(' ') %>">
            <%= link_to(category, places_path(:origin => params[:origin], :category => category.slug)) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <% if false && active_tab == 'events' %>
    <h3>Dates</h3>

    <ul>
      <% ['Today', 'Tomorrow', 'This Week', 'This Weekend', 'This Month', 'This Year'].each do |date|
        active = ((Slug.for(date) == params[:date]) || (date=='Today' && params[:date].blank?))
      %>
        <li>
          <%= link_to(date, events_path(:date => date), :class => (active ? 'active' : '')) %>
        </li>
      <% end %>
    </ul>
  <% end %>
</nav>

<% end %>

