<% unless ['/login', '/signup', '/business', '/static', '/my'].any? {|path| fullpath.start_with?(path)} || fullpath == '/' %>



  <%# TODO - this is a prime canditate for fragment cacheing %>
  <% [
    {:title => 'Top Featured Events', :events => Event.featured, :category => 'featured', :reportgrid_event_type => 'featured_sidebar'},
    {:title => 'Most Popular Events', :events => Event.popular, :category => 'most_popular', :reportgrid_event_type => 'trending_sidebar'}
  ].each do |item| -%>
   <h3><%= link_to item[:title], events_path(:origin => params[:origin], :category => item[:category]) %></h3>
    <ul>
      <% for event in item[:events].limit(6).includes(:image, :organization) -%>
        <li<%= reportgrid_event_tracker(event, item[:reportgrid_event_type]) %>>
          <%= link_to event_path(event.slug, event.id) do %>
            <div class="image">
              <%= image_tag(event.image.url(:thumb)) %>
            </div>
            <div class="details">
              <div class='truncate'>
                <%= event.name %>
              </div>
              <div class="organization-name truncate">
                <%= event.organization.name %>
              </div>
            </div>
          <% end %>
        </li>
      <% end -%>
    </ul>
    <hr />
  <% end -%>

  <h3>Download our free<br />iPhone app:</h3>
  <%= link_to 'http://itunes.apple.com/us/app/lokalite-for-local-events/id464192359?mt=8', :target => '_blank' do %>
    <%= image_tag 'available_on_the_appstore.png' %>
    <% end %>

    <%= link_to 'http://www.facebook.com/Lokalite', :target => '_blank' do %>
    <%= image_tag 'social-icons/facebook_320.png' %>
    <% end %>

    <%= link_to 'http://www.twitter.com/Lokalite', :target => '_blank' do %>
    <%= image_tag 'social-icons/twitter_320.png' %>
    <% end %>
<% end -%>

