<% unless ['/login', '/signup', '/business', '/static', '/my'].any? {|path| fullpath.start_with?(path)} || fullpath == '/' %>



  <%# TODO - this is a prime canditate for fragment cacheing %>
  <% [
    {:title => 'Top Featured Events', :events => Event.featured_on(Time.zone.now.to_date), :category => 'featured'},
    {:title => 'Most Popular Events', :events => Event.popular, :category => 'most_popular'}
  ].each do |item| -%>
   <h3><%= link_to item[:title], events_path(:origin => params[:origin], :category => item[:category]) %></h3>
    <ul>
      <% for event in item[:events].limit(6).includes(:image, :organization).shuffle -%>
        <li<%= report_grid_tracker(event, :type => 'Sidebar') %>>
          <%= link_to event_path(event.slug, event.id) do %>
            <div class="image">
              <%= image_tag(event.image.url(:thumb)) %>
            </div>
            <div class="details">
              <div class='truncate'>
                <%= event.name %>
              </div>
              <div class="organization-name truncate">
                <%= event.organization.name %>
              </div>
            </div>
          <% end %>
        </li>
      <% end -%>
    </ul>
    <hr />
  <% end -%>

  <% if boulder_weekly? %>
    <%= link_to App.url, :target => '_blank' do %>
      <%= image_tag 'powered_by.png' %>
    <% end %>
  <% else %>
  <h3>Lokalite for iPhone</h3>
  <%= link_to 'http://itunes.apple.com/us/app/lokalite-for-local-events/id464192359?mt=8', :target => '_blank' do %>
    <%= image_tag 'available_on_the_appstore.png' %>
    <% end %>

    <h3>Follow Us</h3>
    <ul class="soc-links cf">
      <li>
        <div class="fb-like" data-href="https://www.facebook.com/Lokalite" data-send="false" data-layout="button_count" data-show-faces="false" data-font="verdana">        </div> <!-- <a href="http://www.facebook.com/Lokalite" target="_blank"><%= image_tag 'social-icons/Facebook_Icon.png' %></a> -->
      </li>
      <li>
        <a href="https://twitter.com/lokalite" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @lokalite</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        </script> <!-- <a href="http://www.twitter.com/Lokalite" target="_blank"><%= image_tag 'social-icons/Twitter_Icon.png' %></a> -->
      </li>
    </ul>
  <% end %> 
<% end -%>

