<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.W3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html>
      <!-- http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css -->
    <head>
       <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
       <link rel="stylesheet" href="/jquery.mobile-1.0rc1/customizations.css" />
       <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
       <script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
       <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
       <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script> 
       <script src="http://code.google.com/p/jquery-ui-map/"></script>
            
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

     </head>
      
      <body>
        <div class='current' style="position:absolute; top:0; left:0; right:0; bottom:80px">
          <% if boulder_weekly? %>
            <div data-role='header' data-position='fixed' class='ui-bar-a-bw'> 
          <% else %>
            <div data-role='header' data-position='fixed'>
          <% end %>
            <h1>
              <% if boulder_weekly? %>
                <%= bw_title %>
              <% else %>
                <%= title %>
              <% end %>
            </h1>
            <% if @events.present? %>
              <% if params[:view_type] == 'map' %>
                <a class="ui-btn-right ui-btn ui-btn-corner-all ui-shadow ui-btn-up-a">
                  <%= link_to 'Switch to List View', events_path_with_options(:view_type => nil), :id => 'map_button_nil', "data-theme" => "a" %>  
                </a>
              <% elsif params[:view_type] == nil && params[:category].present? %>
                <a class="ui-btn-right ui-btn ui-btn-corner-all ui-shadow ui-btn-up-a">
                  <%= link_to 'Switch to Map View', events_path_with_options(:view_type => 'map'), :id => 'map_button', "data-theme" => "a" %>  
                </a>
              <% end %>
            <% else %>
              <% if params[:view_type] == 'map' %>
                <a class="ui-btn-right ui-btn ui-btn-corner-all ui-shadow ui-btn-up-a">
                  <%= link_to 'Switch to List View', places_path_with_options(:view_type => nil), :id => 'map_button_nil', "data-theme" => "a" %>  
                </a>
              <% elsif params[:view_type] == nil && params[:category].present? %>
                <a class="ui-btn-right ui-btn ui-btn-corner-all ui-shadow ui-btn-up-a">
                  <%= link_to 'Switch to Map View', places_path_with_options(:view_type => 'map'), :id => 'map_button', "data-theme" => "a" %>  
                </a>
              <% end %>
            <% end %>
          </div>
          <div data-role='navbar' data-theme='a'>
            <ul>
              <li><%= link_to "Back", '/events/categories', "data-rel"=>"back" unless current_page? root_path %></li>
              <li><%= link_to "Home", '/events/categories', "data-role"=> "button" %></li>
              <% if boulder_weekly? %>
                <li><%= link_to "Full Site", events_path(:mobile => '0'), :class => "button", "data-rel" => "external", "data-ajax" => "false" %></li> 
              <% else %>
                <li><%= link_to "Full Site", root_path(:mobile => '0'), :class => "button", "data-rel" => "external", "data-ajax" => "false" %></li> 
              <% end %>
            </ul>
            </div>

          <% unless flash.empty? %>
          <div class='info'>
            <%- flash.each do |name, msg| -%> 
              <%= content_tag :div, msg, :id => "flash_#{name}" %> 
            <%- end -%>
          </div>
        <% end %> 
        <%= yield %>
      </div>
    </body>
  </html>
