<!doctype html>

  <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
  <!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
  <!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
  <!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
  <!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html xmlns:fb="http://ogp.me/ns/fb#"> <!--<![endif]-->

  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title><%= title %></title>
    <meta name="description" content="<%= title %>">
    <meta name="author" content="lokalite.com">
    <meta name="keywords" content="Boulder Events, Events, Events Calendar, Local Events, Weekend events, Happy Hours, Music, things to do, concerts">

    <!-- Alexa Traffic Site Tag -->
    <meta name="alexaVerifyID" content="pYn4tfsbhIEUBVhn6q5YorJoBZ4" />

    <!--  Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    
    <%= stylesheet_link_tag 'mobile' if mobile_device? %>
    <%= render :partial => 'shared/stylesheets' %>
    <%= render :partial => 'shared/javascripts' %>
    <%= csrf_meta_tag %>

    <!--[if !IE 7]> <style type="text/css"> #wrap {display:table;height:100%} </style> <![endif]-->

    <%= render :partial => '/layouts/google_analytics' %>
  </head>

  <body class="<%= params[:controller].parameterize %>-controller">

    <%= render :partial => '/layouts/facebook' %>

    <header>
      <div class="content cf">
        <%= render :partial => '/layouts/header' %>
      </div>
    </header>

    <% if params[:controller] == 'root' %>
        <%= yield %>
    <% else %>
      <div id="main">
        <div id="left-sidebar">
          <%= render(:partial => '/layouts/left_sidebar') %>
        </div>

        <div id="middle">
          <% flash.each do |kind, message| %>
            <%= display_flash kind, message %>
          <% end %>

          <%= yield %>
        </div>

        <div id="right-sidebar">
          <%= render(:partial => '/layouts/right_sidebar') %>
        </div>
      </div>
    <% end %>

    <footer>
      <div class="content">
        <%= render :partial => '/layouts/footer' %>
      </div>
    </footer>
  </body>
</html>
