<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.W3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html>
      <!-- http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css -->
    <head>
       <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
       <link rel="stylesheet" href="/jquery.mobile-1.0rc1/customizations.css" />
       <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
       <script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
     
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

     </head>
      
      <body>
        <div class='current'>
          <% if boulder_weekly? %>
            <div data-role='header' data-position='fixed' class='ui-bar-a-bw'> 
          <% else %>
            <div data-role='header' data-position='fixed'>
          <% end %>
            <h1>
              <% if boulder_weekly? %>
                <%= bw_title %>
              <% else %>
                <%= title %>
            </h1>
          </div>
          <div data-role='navbar' data-theme='a'>
            <ul>
              <li><%= link_to "Back", '/events/categories', "data-rel"=>"back" unless current_page? root_path %></li>
              <li><%= link_to "Home", '/events/categories', "data-role"=> "button" %></li>
              <!-- <li><%#= link_to "Full Site", "http://lokalite.com", :class => "button", "data-rel" => "external", "data-ajax" => "false", :mobile => '0' %></li>--> 
            </ul>
            </div>

          <% unless flash.empty? %>
          <div class='info'>
            <%- flash.each do |name, msg| -%> 
              <%= content_tag :div, msg, :id => "flash_#{name}" %> 
            <%- end -%>
          </div>
        <% end %> 
        <%= yield %>
      </div>
    </body>
  </html>
