<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.W3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
  <html>
      <!-- http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css -->
    <head>
       <link rel="stylesheet" href="/jquery.mobile-1.0rc1/jquery.mobile-1.0rc1.css" />
       <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
       <script src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>
     
       <meta name="viewport" content="width=device-width, initial-scale=1.0">

     </head>
      
      <body>
        <div class='current'>
          <div data-role='header' data-position='fixed'> 
            <h1>
              <%= title %>
            </h1>
          </div>
          <div data-role='navbar' data-theme='a'>
            <ul>
              <li><%= link_to "Back", '/events/categories', "data-rel"=>"back" unless current_page? root_path %></li>
              <li><%= link_to "Home", '/events/categories', "data-role"=> "button" %></li>
              <li><%= link_to "Full Site", root_url(:mobile => 0), :class => "button", :rel => "external" %></li> 
            </ul>
            </div>

          <% unless flash.empty? %>
          <div class='info'>
            <%- flash.each do |name, msg| -%> 
              <%= content_tag :div, msg, :id => "flash_#{name}" %> 
            <%- end -%>
          </div>
        <% end %> 
        <%= yield %>
      </div>
    </body>
  </html>
